{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container changelog">
    <h1><i class="fa fa-code-fork" aria-hidden="true"></i>{% trans "Changelog" %}</h1>
    {% if next %}
    <div class="text-center">
        <a class="btn btn-info"  href="{% url 'changelog' next %}">{% trans "Next" %}</a>
    </div>
    {% endif %}
    {{changelog|safe}}
    {% if previous %}
    <div class="text-center">
        <a class="btn btn-info" href="{% url 'changelog' previous %}">{% trans "Previous" %}</a>
    </div>
    {% endif %}
</div>
{% endblock %}
