{% extends "base.html" %}
{% load i18n %}
{% block extra_meta %}{% if extra_meta %}
{{extra_meta|safe}}
{% endif %}{% endblock %}

{% block content %}
{% if view_content %}
<div class="container">
{{view_content|safe}}
</div>
{% else %}
<script type='text/javascript'>
$(document).ready(
{% if show_url %}
function(){
    load_window("{{show_url}}");
});{% endif %}
</script>
{% endif %}
{% endblock %}
