{% extends "base.html" %}
{% load i18n l10n %}
{% block extra_head %}
{{formset.media}}
{% endblock %}
{% block pre_container %}
<form action="." method="post">{% csrf_token %}
  {% endblock %}
{% block content %}
<h2>{{page_name}}</h2>
  <p class="text-center">
    <a href="{% url 'current_imports' %}">{% trans "Back to import list" %}</a>
  </p>
<div class='form' id='global-vars'>
  {% if MAX_FIELDS_REACHED %}
  <div class="alert alert-warning">
    {% blocktrans %}Only {{MAX_FIELDS_REACHED}} out of {{TOTAL}} fields have been displayed.
    Fill these fields and submit the form to reach the other fields.{% endblocktrans %}
  </div>
  {% endif %}
  {% if extra_formset.non_form_errors %}
  <div class='errors'>{{extra_formset.non_form_errors.as_ul}}</div>{% endif %}

  {{ formset.management_form }}
  {% for hidden in frm.hidden_fields %} {{ hidden }} {% endfor %}

  <div id="{{formset.prefix}}">
    {% if not formset %}
    <p><em>{% trans "No more match left." %}</em></p>
    {% endif %}
    {% for frm in formset %}{% ifchanged frm.target.value %}
    {# <div><table> #}{% if not forloop.first %}</table></div>{% endif %}
    <div class="alert">
      <h4>{{ frm.target.field.choices.0.1 }}</h4>
      {% if frm.admin_url %}
      <p class="text-center">
        <a href="{{frm.admin_url}}" target="_blank">
          {% trans "Edit choices in admin" %}</a>
          <i class="fa fa-question-circle" aria-hidden="true"
            title="{% trans 'After type edition you may need to wait after cache update. Refresh this page after some time. Be patient.' %}"></i>
        </p>{% endif %}
      <table class='clean-table' id="form-{{forloop.counter0}}">
        <tr>
          <th>{% trans "Key" %}</th>
          <th>{% trans "Value" %}</th>
          <th>{% trans "For" %}</th>
        </tr>
        <tr>
          <td colspan="2">
          </td>
          <td>
            <select id="all-remember-{{forloop.counter0}}"
                    name="all-remember-{{forloop.counter0}}">
              <option value="">--</option>
              {% for key, lbl in frm.remember_choices %}
              <option value="{{key}}">{{lbl}}</option>{% endfor %}
            </select>
          </td>
        </tr>
      {% endifchanged %}
        <tr>
          <td>
            {{frm.id}}
            {{frm.target}}
            {{frm.key}}
          </td>
          <td>
            {{frm.value}}
          </td>
          <td class="remember">
            {{frm.remember}}
          </td>
        </tr>
      {% if forloop.last %}
      </table></div>{% endif %}
    {% empty %}
    <div class="alert alert-info">
      <em>{% trans "No more match left." %}</em>
    </div>
    {% endfor %}


    {% if frm.errors %}<ul>{% for error in frm.errors.values %}
      <li>{{error}}</li>{% endfor%}</ul>{% endif %}
    {% for field in frm %}
      {{field}}
    {% endfor %}
  </div>
</div>
<p class="text-center">
  <a href="{% url 'current_imports' %}">{% trans "Back to import list" %}</a>
</p>
  <script type="text/javascript">{% localize off %}
  $(document).ready(function() {{% for frm in formset %}
    $("#all-remember-{{forloop.counter0}}").change(
      function(){
        var cval = $("#all-remember-{{forloop.counter0}}").val();
        if (cval){
          $("#form-{{forloop.counter0}} td.remember select").val(cval);
        }
      }
    );
  {% endfor %}
  });
  {% endlocalize %}</script>
{% endblock %}
{% block footer %}
<div id="footer">
  <div id='validation-bar' class="row text-center">
    <div class="col-sm">
      <button type="submit" id="submit_form" name='validate'
              value="validate" class="btn btn-success">
        {% if submit_label %}{{submit_label}}{% else%}{% trans "Validate" %}{% endif %}
      </button>
    </div>
  </div>
  {% include 'ishtar/blocks/footer.html' %}
</div>
</form>
{% endblock %}
