{% extends "base.html" %}
{% load i18n inline_formset verbose_names %}
{% block content %}
<h2>{{page_name}}</h2>
    <form action="." method="post">{% csrf_token %}
        <div class="form container">
        {% block "warning_message" %}
            <div class="alert alert-danger">
                <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
                    {% trans "Are you sure to want to delete this item?" %}
                    <p>{% trans "No rollback is possible. Be careful to scroll to the end of page to check every piece of information." %}</p>
                </div>
            </div>
        {% endblock %}

        <h3>{{object}}</h3>
        {% for accessor, imported in object.get_all_imported %}
        {% ifchanged imported|verbose_model_name %}
        {% if forloop.counter0 %}
            </div>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                {{ imported|verbose_model_name }}
            </div>
            <div class="card-body">
        {% else %}
            <hr>
        {% endifchanged %}
            {% if imported.SLUG %}
            {% url "show-"|add:imported.SLUG imported.pk "" as current_url %}
            {% if current_url %}
                <a class="display_details_inline" href="#" onclick='load_window("{% url "show-"|add:imported.SLUG imported.pk "" %}")'>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
            {% endif %}
            {% endif %}
            {{ imported }}
        {% endfor %}
            </div>
        </div>
        {% block "footer" %}
            <div id="footer">
                <p class="confirm-message">{% trans "Are you sure to want to delete this import?" %}</p>
                {% include 'ishtar/wizard/validation_bar.html' %}
                {% include 'ishtar/blocks/footer.html' %}
            </div>
        {% endblock %}
        </div>
    </form>
{% endblock %}
