{% extends "base.html" %}
{% load i18n l10n inline_formset %}
{% block content %}
<h2>{{page_name}}{% trans ":"%} {{basket}}</h2>
<form enctype="multipart/form-data" action="." method="post"
    id="wizard-form">{% csrf_token %}
<div class='form' id="basket-manage">
    <div class="alert alert-warning" role="alert">
        {% trans 'Checking "Select all" only selects the current page.' %}
    </div>
    {{form}}
    <div class="text-center" id="basket-add-button">
        <button class="btn btn-primary" type="button" id='add_to'>
            <span class="d-none d-lg-block">{% trans "Add" %}</span>
            <span class="d-block d-lg-none">&gt;</span>
        </button>
    </div>
    <div id="basket-content-wrapper">
        <h3>{% trans "Basket content" %}</h3>
        <div id='basket-content'>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</form>
<script type="text/javascript">{% localize off %}

var current_item_number = 0;

function load_list(data, last){
    $('#basket-content').html(data);
    if (last == true){
        close_wait();
        var added = $("#basket-content li").length - current_item_number;
        display_info(added + added_message);
    }
}

$('#add_to').click(function(){
    var selected_items = datatable_pk.rows( { selected: true } ).data();
    if(!selected_items) return false;
    $('.modal-progress').modal('show');
    current_item_number = $("#basket-content li").length;
    for (i = 0, n = selected_items.length; i < n; i++) {
        var selected_item = selected_items[i]['id'];
        last = i == n - 1;
        $.ajax({
            type: "POST",
            url: '{{add_url}}',
            data: {
                basket_id: {{basket.pk}},
                item_id: selected_item
            },
            success: function(data){
                load_list(data, last);
            }
        });
    }
    return false;
});

jQuery(document).ready(function(){
    $.get('{{list_url}}', load_list);
});
{% endlocalize %}</script>
{% endblock %}
{% block footer %}
<div id="footer">
    <div id='validation-bar' class="row text-center">
        <div class="col-sm">
            <a class="btn btn-success"
               href="{% url 'display-findbasket' basket.id %}"
               id="validate-button"
               class='button'>{% trans "Close" %}</a>
        </div>
    </div>
    {% include 'ishtar/blocks/footer.html' %}
</div>
{% endblock %}
