{% extends "ishtar/merge.html" %}{% load i18n l10n %}
{% block merge_field_row %}
      {% if form.non_field_errors %}<tr><td colspan='4'></td><td colspan='3' class='errorlist'>{% for error in form.non_field_errors %}{{error}} {% endfor%}</tr>{% endif %}
      <tr>
        <td>
          <a href="#" onclick="load_window('{% url 'show-person' form.instance.from_person.pk '' %}', 'person');" class="display_details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </td>
        <td>
          <span title="{% trans 'Raw name' %}">{{form.instance.from_person.raw_name}}</span> ({{form.instance.from_person.pk|unlocalize}})<br>
          <span title="{% trans 'Title' %}">{{form.instance.from_person.title|default:""}}</span> <span title="{% trans 'Name' %}">{{form.instance.from_person.name|default:""}}</span> <span title="{% trans 'Name' %}">{{form.instance.from_person.surname|default:""}}</span><br>
          {% if form.instance.from_person.attached_to %}<span title="{% trans 'Organization' %}">{{form.instance.from_person.attached_to}}</span><br>{% endif %}
          {% if form.instance.from_person.salutation %}<span title="{% trans 'Salutation' %}">{{form.instance.from_person.salutation}}</span><br>{% endif %}
          {% for value, title in form.instance.from_person.address_lbl_list %}
          <span title="{{title}}">{{value}}</span>{% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </td>
        <td>
          <a href="#" onclick="load_window('{% url 'show-person' form.instance.to_person.pk '' %}', 'person');" class="display_details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </td>
        <td>
          <span title="{% trans 'Raw name' %}">{{form.instance.to_person.raw_name}}</span> ({{form.instance.to_person.pk|unlocalize}})<br>
          <span title="{% trans 'Title' %}">{{form.instance.to_person.title|default:""}}</span> <span title="{% trans 'Name' %}">{{form.instance.to_person.name|default:""}}</span> <span title="{% trans 'Name' %}">{{form.instance.to_person.surname|default:""}}</span><br>
          {% if form.instance.to_person.attached_to %}<span title="{% trans 'Organization' %}">{{form.instance.to_person.attached_to}}</span><br>{% endif %}
          {% if form.instance.to_person.salutation %}<span title="{% trans 'Salutation' %}">{{form.instance.to_person.salutation}}</span><br>{% endif %}
          {% for value, title in form.instance.to_person.address_lbl_list %}
          <span title="{{title}}">{{value}}</span>{% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </td>
        <td class='check'>{{form.b_is_duplicate_a}}</td>
        <td class='check'>{{form.a_is_duplicate_b}}</td>
        <td class='check'>{{form.not_duplicate}}</td>
      </tr>
{% endblock %}
