{% extends "ishtar/merge.html" %}{% load i18n l10n %}
{% block merge_field_row %}
      {% if form.non_field_errors %}<tr><td colspan='4'></td><td colspan='3' class='errorlist'>{% for error in form.non_field_errors %}{{error}} {% endfor%}</tr>{% endif %}
      <tr>
        <td>
          <a href="#" onclick="load_window('{% url 'show-organization' form.instance.from_organization.pk '' %}', 'organization');" class="display_details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </td>
        <td>
          <span title="{% trans 'Name' %}">{{form.instance.from_organization.name}}</span> ({{form.instance.from_organization.pk|unlocalize}})<br>
          {% if form.instance.from_organization.organization_type %}<span title="{% trans 'Type' %}">{{form.instance.from_organization.organization_type}}</span><br>{% endif %}
          {% if form.instance.from_organization.url %}<span title="{% trans 'URL' %}">{{form.instance.from_organization.url}}</span><br>{% endif %}
          {% for value, title in form.instance.from_organization.address_lbl_list %}
          <span title="{{title}}">{{value}}</span>{% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </td>
        <td>
          <a href="#" onclick="load_window('{% url 'show-organization' form.instance.to_organization.pk '' %}', 'organization');" class="display_details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </td>
        <td>
          <span title="{% trans 'Name' %}">{{form.instance.to_organization.name}}</span> ({{form.instance.to_organization.pk|unlocalize}})<br>
          {% if form.instance.to_organization.organization_type %}<span title="{% trans 'Type' %}">{{form.instance.to_organization.organization_type}}</span><br>{% endif %}
          {% if form.instance.to_organization.url %}<span title="{% trans 'URL' %}">{{form.instance.to_organization.url}}</span><br>{% endif %}
          {% for value, title in form.instance.to_organization.address_lbl_list %}
          <span title="{{title}}">{{value}}</span>{% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </td>
        <td class='check'>{{form.b_is_duplicate_a}}</td>
        <td class='check'>{{form.a_is_duplicate_b}}</td>
        <td class='check'>{{form.not_duplicate}}</td>
      </tr>
{% endblock %}

