{% load i18n l10n ishtar_helpers %}{% block main_head %}<html lang="en">
<head>
    <title>{% block title %}Ishtar{% if APP_NAME %} - {{APP_NAME}}{%endif%}{% endblock %}
    </title>
    {% block header %}
    <link rel="stylesheet" href="{{STATIC_URL}}/media/style.css?ver={{VERSION}}" />
    {% endblock %}
</head>
<body>
{% endblock %}
  <div class="card sheet" id="{{window_id}}">

    {% if output != "ODT" and output != "PDF" %}
    <div class="card-header" data-sheet-id="{{sheet_id}}" role="tab" id='head-{{window_id}}'>
      <div class="row">
          <div class="col-9">
              <h5 class="mb-0">
                <a class="card-label" data-toggle="collapse"
                    href="#collapse-{{window_id}}" aria-expanded="true"
                   aria-controls="collapse-{{window_id}}">
                    <span class="sheet-caret caret-{{window_id}}"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
    {% else %}
      {% if item.qrcode.name %}
      <table class="window-table-head">
        <tr>
          <td> <img class="qrcode" src="{{BASE_URL}}{{item.qrcode.url}}"> </td>
          <td>
      {% endif %}
            <h2>
    {% endif %}
                    {% block head_title %}{% endblock %}
    {% if output == "ODT" or output == "PDF" %}
            </h2>
      {% if item.qrcode.name %}
          </td>
        </tr>
      </table>
      {% endif %}
    {% else %}
                </a>
              </h5>
          </div>
          <div class='col-2 text-center'>
              <a href='#' class='previous_page'>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href='#' class='next_page'>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          </div>
          <div class='col-1 text-right'>
            <a href='#' onclick='hide_window("{{window_id}}")'
               title="{% trans 'Close' %}">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </div>
      </div>
      {% endif %}
      {% block header_title %}{% endblock %}
    </div>

    <div id="collapse-{{window_id}}" class="collapse show" role="tabpanel"
         aria-labelledby="heading-{{window_id}}" data-parent="#window">
      {% if output != "ODT" and output != "PDF"%}
      {% block toolbar %}{% endblock %}
      {% endif %}
      <div class="card-body">
        {% if output != "ODT" and output != "PDF" %}
        {% block head_sheet %}
        <script type="text/javascript">{% localize off %}
        var last_window = '{{window_id}}';
        var current_url_{{window_id_underscore}} = "{{current_window_url}}{{item.pk}}/";
        jQuery(document).ready(function(){
            if (! get_next_table_id("{{item.pk}}")){
                jQuery('.next_page').hide();
            }
            if (! get_previous_table_id("{{item.pk}}")){
                jQuery('.previous_page').hide();
            }
            jQuery(".next_page").click(function() {
                load_window("{{current_window_url}}" + get_next_table_id("{{item.pk}}") + "/",
                            '', function(){hide_window("{{window_id}}");},
                            true);
            });
            jQuery(".previous_page").click(function() {
                load_window("{{current_window_url}}" + get_previous_table_id("{{item.pk}}") + "/",
                            '', function(){hide_window("{{window_id}}");},
                            true);
            });
            {% if item.images.count %}
            var lg = document.getElementById('lightgallery-{{window_id}}');
            lg.addEventListener('onAfterAppendSubHtml', function(e){
                $(".lg-sub-html").show();
                $(".lg-sub-html .close").click(function(){
                    $(".lg-sub-html").hide();
                });
            }, false);
            lightGallery(lg);
            {% endif%}
            {% if item.relation_image %}
            lightGallery(document.getElementById('lightgallery-{{window_id}}-relation-image'));
            {% endif%}

            var hash = window.location.hash.substr(1);
            if (hash){
              $('#{{window_id}}-tabs a[href="#{{window_id}}-' + hash + '"]').tab('show');
            }

            $("#collapse-{{window_id}}").on("hidden.bs.collapse", function () {
                $(".card-label .caret-{{window_id}}").html('<i class="fa fa-caret-right" aria-hidden="true"></i>');
            });
            $("#collapse-{{window_id}}").on("shown.bs.collapse", function () {
                $(".card-label .caret-{{window_id}}").html('<i class="fa fa-caret-down" aria-hidden="true"></i>');
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $(e.target).resize();  // fix table header refresh for datatable
            })
        });
        {% endlocalize %}</script>
        {% endblock %}
        {% endif %}
        <div class="body">
            {% if item.locked %}
            <div class="alert alert-warning" role="alert">
                {% if item|is_locked:request.user %}
                <i class="fa fa-lock text-danger" aria-hidden="true"></i>&nbsp;
                {% if item.lock_user %}{% blocktrans with locker=item.lock_user.ishtaruser %}
                This item has been locked by {{locker}}. Edition is disabled.
                {% endblocktrans %}{% else %}
                {% trans "This item has been locked. Edition is disabled." %}
                {% endif %}
                {% else %}
                <i class="fa fa-lock text-success" aria-hidden="true"></i>&nbsp;
                {% trans "You have locked this item." %}
                {% endif %}
            </div>
            {% endif %}
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{%block main_foot%}
</body>
</html>
{%endblock%}
