{% extends "ishtar/sheet.html" %}
{% load i18n l10n ishtar_helpers window_tables window_header window_field from_dict link_to_window %}

{% block head_title %}<strong>{% trans "Town" %}</strong> - {{item.name}}{% if item.numero_insee %} ({{item.numero_insee}}){% endif %}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-town' %}
{% endblock %}

{% block content %}

{# trick to set to null non existing variable #}
{% with permission_view_document=permission_view_document %}
{% with permission_view_own_document=permission_view_own_document %}
{% with permission_change_own_geovectordata=permission_change_own_geovectordata %}
{% with permission_change_geovectordata=permission_change_geovectordata %}

{% with permission_change_geo=permission_change_own_geovectordata|or_:permission_change_geovectordata %}

{% with perm_documents=permission_view_own_document|or_:permission_view_document %}
{% with has_documents=item|safe_or:"documents.count|documents_list" %}
{% with display_documents=perm_documents|and_:has_documents %}
{% with perm_files=permission_view_own_file|or_:permission_view_file %}
{% with perm_operations=permission_view_own_operation|or_:permission_view_operation %}
{% with perm_sites=permission_view_own_archaeologicalsite|or_:permission_view_archaeologicalsite %}

{% if output != "ODT" and output != "PDF" %}
<ul class="nav nav-tabs" id="{{window_id}}-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="{{window_id}}-general-tab"
           data-toggle="tab" href="#{{window_id}}-general" role="tab"
           aria-controls="{{window_id}}-general" aria-selected="false">
            {% trans "General" %}
        </a>
    </li>
    {% if not is_external and SHOW_GEO %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-geodata-tab"
           data-toggle="tab" href="#{{window_id}}-geodata" role="tab"
           aria-controls="{{window_id}}-geodata" aria-selected="false">
            {% trans "Geographic data" %}
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

<div class="tab-content" id="{{window_id}}-tab-content">
    <div class="tab-pane fade show active" id="{{window_id}}-general"
       role="tabpanel" aria-labelledby="{{window_id}}-general-tab">

        <div class="clearfix">
            <div class="card float-left col-12 col-md-6 col-lg-4">
                {% include "ishtar/blocks/window_image.html" %}
                <div class="card-body">
                    <div class="row">
                        <div class="col main text-center">
                            {% if item.numero_insee %}
                            <strong>{{ item.numero_insee }}</strong>{% endif %}
                        </div>
                    </div>
                    <div class="card-text text-center">
                        <p class='window-refs' title="{% trans 'Name' %}">{{item.name}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if item.surface  %}
                <dl class="col-12 col-lg-6 flex-wrap">
                    <dt>{% trans "Surface" %}</dt>
                    <dd>
                        {{ item.surface|localize }} m<sup>2</sup> ({{ item.surface_ha }} ha)
                    </dd>
                </dl>
                {% endif %}
                {% field_flex "Department" item.departement %}
                {% if item.areas.count %}
                <dl class="col-12 col-lg-6 flex-wrap">
                    <dt>{% trans "Areas" %}</dt>
                    <dd>{% for area in item.areas.all %}{% if forloop.counter0 %}&nbsp;; {% endif %}{{area}}{{area|simple_link_to_window}}{% endfor %}</dd>
                </dl>
                {% endif %}
                {% with has_image=item.images.count %}
                {% if not has_image %}
            </div>
        </div>
            {% endif %}
            {% if has_image %}
        </div></div>
            {% endif %}
            {% endwith %}
            <hr class="clearfix">
        {% if PROFILE.mapping and item.main_geodata %}
        <h3>{% trans "Geographic localisation" %}</h3>
        <div class="row">
            {% with geo_item=item %}
            {% include "ishtar/blocks/sheet_map.html"%}
            {% endwith %}
        </div>
        {% endif %}

    {% if display_documents and item.documents.count %}
    {% trans "Documents" as town_docs %}
    {% dynamic_table_document town_docs 'documents' 'towns' item.pk '' output %}
    {% endif %}

    {% if perm_files and item.file.count %}
    {% trans "Archaeological files" as town_files %}
    {% dynamic_table_document town_files 'files' 'towns' item.pk '' output %}
    {% endif %}

    {% if perm_operations and item.operations.count %}
    {% trans "Operations" as town_operations %}
    {% dynamic_table_document town_operations 'operations' 'towns' item.pk '' output %}
    {% endif %}

    {% if perm_sites and item.sites.count %}
    {% trans "Sites" as town_sites %}
    {% dynamic_table_document town_sites 'sites' 'towns' item.pk '' output %}
    {% endif %}


    </div>

    {% if not is_external and SHOW_GEO %}
    <div class="tab-pane fade" id="{{window_id}}-geodata"
         role="tabpanel" aria-labelledby="{{window_id}}-geodata-tab">
        {% with geo_item=item %}{% include "ishtar/blocks/sheet_geographic.html" %}{% endwith %}
    </div>
    {% endif %}

</div>


<script type="text/javascript">{% localize off %}
$(document).ready( function () {
    datatable_options = {
        "dom": 'ltip',
    };
    $.extend(datatable_options, datatables_static_default);
    if (datatables_i18n) datatable_options['language'] = datatables_i18n;
    $('.datatables').each(
        function(){
            var dt_id = "#" + $(this).attr('id');
            if (! $.fn.DataTable.isDataTable(dt_id) ) {
                $(dt_id).DataTable(datatable_options);
            }
         });
} );
{% endlocalize %}</script>

{% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %}

{% endblock %}