{% extends "ishtar/sheet.html" %}
{% load i18n window_field window_tables window_header %}

{% block head_title %}<strong>{% trans "Person"%}</strong> - {{item}}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-person' 'person_modify' %}
{% endblock %}

{% block content %}

<div class="row">
    {% field_flex "Title" item.full_title %}
    {% field_flex "Name" item.name %}
    {% field_flex "Surname" item.surname %}
    {% field_flex "Raw name" item.raw_name %}
    {% field_flex_detail "Created by" item.history_creator.ishtaruser.person %}
    {% field_flex "Email" item.email %}
    {% field_flex "Type(s)" item.person_types_list %}
    {% if ADMIN %}
    {% field_flex "Profile(s)" item.profiles_list %}
    {% endif %}
</div>

{% if item.phone or item.phone2 or item.phone3 or item.mobile_phone %}
<table class='table table-striped'>
  <caption>{% trans "Phone" %}</caption>
  <tr>
    <th>{% trans "Phone type" %}</th>
    <th>{% trans "Number" %}</th>
  </tr>
  {% if item.phone or item.phone_desc %}<tr>
    <td>{% if item.phone_desc %}{{item.phone_desc}}{% else %}&ndash;{% endif %}</td>
    <td>{% if item.phone %}{{item.phone}}{% else %}&ndash;{% endif %}</td>
  </tr>{% endif %}
  {% if item.phone2 or item.phone_desc2 %}<tr>
    <td>{% if item.phone_desc2 %}{{item.phone_desc2}}{% else %}&ndash;{% endif %}</td>
    <td>{% if item.phone2 %}{{item.phone2}}{% else %}&ndash;{% endif %}</td>
  </tr>{% endif %}
  {% if item.phone3 or item.phone_desc3 %}<tr>
    <td>{% if item.phone_desc3 %}{{item.phone_desc3}}{% else %}&ndash;{% endif %}</td>
    <td>{% if item.phone3 %}{{item.phone3}}{% else %}&ndash;{% endif %}</td>
  </tr>{% endif %}
  {% if item.mobile_phone %}<tr>
    <td>{% trans "Mobile phone" %}</td>
    <td>{{item.mobile_phone}}</td>
  </tr>{% endif %}
</table>
{% endif %}

{% if item.address or item.postal_code or item.town or item.precise_town %}
<h3>{% trans "Business address" %}</h3>
<div class="row">
    {% field_flex "Address" item.address %}
    {% field_flex "Address complement" item.address_complement %}
    {% field_flex "Postal code" item.postal_code %}
    {% field_flex "Town (freeform)" item.town %}
    {% field_flex "Town" item.precise_town %}
</div>{% endif %}

{% if item.alt_address or item.alt_postal_code or item.alt_town %}
<h3>{% trans "Other address" %}</h3>
<div class="row">
    {% field_flex "Address" item.alt_address %}
    {% field_flex "Address complement" item.alt_address_complement %}
    {% field_flex "Postal code" item.alt_postal_code %}
    {% field_flex "Town" item.alt_town %}
</div>{% endif %}


{% if item.attached_to %}<h3>{% trans "Associated organization"%}</h3>
<div class="row">
    {% field_flex_detail "Name" item.attached_to %}
    {% field_flex "Address" item.attached_to.address %}
    {% field_flex "Address complement" item.attached_to.address_complement %}
    {% field_flex "Postal code" item.attached_to.postal_code %}
    {% field_flex "Town" item.attached_to.town %}
    {% field_flex "Phone" item.attached_to.phone %}
    {% field_flex "Mobile phone" item.attached_to.mobile_phone %}
</div>{% endif %}


{% trans "Associated operations as scientist" as ao %}
{% if item.operation_scientist_responsability.count %}
{% dynamic_table_document ao 'operations' 'scientist__pk' item.pk '' output %}
{% endif %}

{% trans "Associated operations as responsible" as ao %}
{% if item.operation_monitoring.count %}
{% dynamic_table_document ao 'operations' 'in_charge__pk' item.pk '' output %}
{% endif %}

{% trans "Associated operations as collaborator" as colla %}
{% if item.operation_collaborator.count %}
{% dynamic_table_document colla 'operations' 'collaborators__pk' item.pk '' output %}
{% endif %}

{% trans "Operations associees en tant que rapporteur CIRA" as cira %}
{% if item.cira_rapporteur.count %}
{% dynamic_table_document cira 'operations' 'cira_rapporteur__pk' item.pk '' output %}
{% endif %}

{% trans "Associated archaeological sites as collaborator" as colla %}
{% if item.site_collaborator.count %}
{% dynamic_table_document colla 'sites' 'collaborators__pk' item.pk '' output %}
{% endif %}

{% trans "In charge of archaeological files" as af %}
{% if item.file_responsability.count %}
{% dynamic_table_document af 'files' 'in_charge__pk' item.pk '' output %}
{% endif %}

{% trans "General contractor of archaeological files" as af %}
{% if item.general_contractor_files.count %}
{% dynamic_table_document af 'files' 'general_contractor__pk' item.pk '' output %}
{% endif %}

{% trans "Responsible for planning service of archaeological files" as af %}
{% if item.responsible_town_planning_service_files.count %}
{% dynamic_table_document af 'files' 'responsible_town_planning_service__pk' item.pk '' output %}
{% endif %}

{% comment %} to be tested.........
{% trans "In charge of administrative acts" as admin_act %}
{% if item.adminact_operation_in_charge.count %}
{% dynamic_table_document admin_act 'admin_acts' 'in_charge__pk' item.pk '' output %}
{% endif %}

{% trans "Scientist of administrative acts" as admin_act %}
{% if item.adminact_scientist.count %}
{% dynamic_table_document admin_act 'admin_acts' 'scientist__pk' item.pk '' output %}
{% endif %}

{% trans "Signatory of administrative acts" as admin_act %}
{% if item.signatory.count %}
{% dynamic_table_document admin_act 'admin_acts' 'signatory__pk' item.pk '' output %}
{% endif %}
{% endcomment %}

{% trans "In charge of treatments" as tr %}
{% if item.treatments.count %}
{% dynamic_table_document tr 'base_treatments' 'person__pk' item.pk '' output %}
{% endif %}

{% trans "In charge of treatment files" as tr %}
{% if item.treatmentfile_responsability.count %}
{% dynamic_table_document tr 'treatment_files' 'in_charge__pk' item.pk '' output %}
{% endif %}

{% trans "Applicant of treatment files" as tr %}
{% if item.treatmentfile_applicant.count %}
{% dynamic_table_document tr 'treatment_files' 'applicant__pk' item.pk '' output %}
{% endif %}

{% trans "In charge of warehouses" as wh %}
{% if item.warehouse_in_charge.count %}
{% dynamic_table_document wh 'warehouses' 'person_in_charge__pk' item.pk '' output %}
{% endif %}

{% if item.docs_q.count %}
{% trans "Documents" as docs %}
{% dynamic_table_document docs 'documents' 'authors__person__pk' item.pk '' output %}
{% endif %}


{% endblock %}
