{% extends "ishtar/sheet.html" %}
{% load i18n window_header window_field window_tables link_to_window %}

{% block head_title %}<strong>{% trans "Administrative act" %}</strong> - {{item.full_ref}}{% endblock %}

{% block toolbar %}
{% if item.operation %}
{% window_nav item window_id 'show-administrativeact' 'operation_administrativeactop_modify' %}
{% endif %}
{% if item.associated_file %}
{% window_nav item window_id 'show-administrativeact' 'file_administrativeactfile_modify' %}
{% endif %}
{% if item.treatment %}
{% window_nav item window_id 'show-administrativeact' 'treatment_administrativeacttreatment_modify' %}
{% endif %}
{% if item.treatment_file %}
{% window_nav item window_id 'show-administrativeact' 'treatmentfile_administrativeacttreatmentfile_modify' %}
{% endif %}
{% endblock %}

{% block content %}

{% with pdf_attached=item.pdf_attached %}
{% if pdf_attached %}
<p class="text-center col-12 p-2">
    <a href="{{pdf_attached}}" class="btn btn-secondary" target="_blank">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        {% trans "View PDF" %}
    </a>
</p>
{% endif %}
{% endwith %}

<div class="clearfix">
    {% if item.images.count %}
    <div class="card float-left col-12 col-md-6 col-lg-4">
        {% include "ishtar/blocks/window_image.html" %}
    </div>
    {% endif %}
    <h3>{% trans "General"%}</h3>
    <div class="row">
        {% field_flex "Year" item.year %}
        {% field_flex "Index" item.index %}
        {% field_flex "Internal reference" item.ref_sra %}
        {% field_flex "Type" item.act_type %}
        {% field_flex "Object" item.act_object %}
        {% field_flex_detail "Signatory" item.signatory %}
        {% field_flex "Signature date" item.signature_date %}
        {% field_flex "In charge" item.in_charge %}
        {% field_flex "Archaeological preventive operator" item.operator %}
        {% field_flex_detail "Associated file" item.associated_file %}
        {% field_flex_detail "Operation" item.operation %}
        {% field_flex_detail "Treatment" item.treatment %}
        {% field_flex_detail "Treatment request" item.treatment_file %}

        {% if item.operation and item.operation.surface %}
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
            <dt class="col-5">{% trans "Surface"%}</dt>
            <dd class='col-7'>
                {{ item.operation.surface }} m<sup>2</sup> ({{ item.operation.surface_ha }} ha)
            </dd>
        </div>
        {% endif %}
        {% field_flex_detail "Created by" item.history_creator.ishtaruser.person %}

        {% comment %}{% if item.general_contractor.attached_to %}<p>
        <label>{% trans "General contractor organisation"%}</label>
        <span class='value'>{{ item.general_contractor.attached_to }}</span></p>{% endif %} <!-- Contractor's organisation displayed as concat of Name/Adress/postal_code/city -->
        {% if item.general_contractor %}<p><label>{%trans "General contractor"%}</label> <span class='value'>{{ item.general_contractor.full_label }}</span></p>{% endif %}
        {% endcomment %}
        {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
    </div>
</div>
    {% if item.documents.count %}
    <div class="row spacer">
        <div class="col-12">
            {% dynamic_table_document 'Documents' 'documents' 'administrativeacts' item.pk '' output %}
        </div>
    </div>
    {% endif %}

{% endblock %}
