{% extends "ishtar/sheet.html" %}
{% load i18n l10n ishtar_helpers window_tables window_header window_ope_tables window_field from_dict %}

{% block head_title %}<strong>{% trans "Operation" %}</strong> - {{item.short_label}}{% if item.common_name %} - {{item.common_name}}{% endif %}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-operation' 'operation_modify' 'show-historized-operation' 'revert-operation' previous next 1 %}
{% endblock %}

{% block content %}

{# trick to set to null non existing variable #}
{% with permission_view_document=permission_view_document %}
{% with permission_view_own_document=permission_view_own_document %}
{% with permission_view_find=permission_view_find %}
{% with permission_view_own_find=permission_view_own_find %}
{% with permission_view_contextrecord=permission_view_contextrecord %}
{% with permission_view_own_contextrecord=permission_view_own_contextrecord %}
{% with permission_view_container=permission_view_container %}
{% with permission_view_own_container=permission_view_own_container %}
{% with permission_change_own_geovectordata=permission_change_own_geovectordata %}
{% with permission_change_geovectordata=permission_change_geovectordata %}

{% with permission_change_geo=permission_change_own_geovectordata|or_:permission_change_geovectordata %}

{% with display_data=item.data %}
{% with display_relations=item|safe_or:"right_relations.count|left_relations.count" %}
{% with display_sites=item|safe_or:"archaeological_sites.count|grouped_parcels|administrative_act.count|archaeological_sites_list" %}
{% with perm_documents=permission_view_own_document|or_:permission_view_document %}
{% with has_documents=item|safe_or:"documents.count|documents_list" %}
{% with display_documents=perm_documents|and_:has_documents %}
{% with perm_context_records=permission_view_own_contextrecord|or_:permission_view_contextrecord %}
{% with has_context_records=item|safe_or:"context_record.count" %}
{% with display_context_records=perm_context_records|and_:has_context_records %}
{% with perm_find=permission_view_own_find|or_:permission_view_find %}
{% with has_finds=item|safe_or:"has_finds" %}
{% with display_finds=perm_find|and_:has_finds %}

{% if output != "ODT" and output != "PDF" %}
<ul class="nav nav-tabs" id="{{window_id}}-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="{{window_id}}-general-tab"
           data-toggle="tab" href="#{{window_id}}-general" role="tab"
           aria-controls="{{window_id}}-general" aria-selected="false">
            {% trans "General" %}
        </a>
    </li>
    {% if display_sites %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-sites-tab"
           data-toggle="tab" href="#{{window_id}}-sites" role="tab"
           aria-controls="{{window_id}}-sites" aria-selected="false">
            {% trans "Archaeological sites/parcels/Administrativ acts" %}
        </a>
    </li>
    {% endif %}
    {% if display_documents %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-documents-tab"
           data-toggle="tab" href="#{{window_id}}-documents" role="tab"
           aria-controls="{{window_id}}-documents" aria-selected="false">
            {% trans "Documents" %}
        </a>
    </li>
    {% endif %}
    {% if display_relations %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-relations-tab"
           data-toggle="tab" href="#{{window_id}}-relations" role="tab"
           aria-controls="{{window_id}}-relations" aria-selected="false">
            {% trans "Relations" %}
        </a>
    </li>
    {% endif %}
    {% if display_context_records %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-cr-tab"
           data-toggle="tab" href="#{{window_id}}-cr" role="tab"
           aria-controls="{{window_id}}-cr" aria-selected="false">
            {% trans "Context records" %}
        </a>
    </li>
    {% endif %}
    {% if display_finds %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-finds-tab"
           data-toggle="tab" href="#{{window_id}}-finds" role="tab"
           aria-controls="{{window_id}}-finds" aria-selected="false">
            {% trans "Finds" %}
        </a>
    </li>
    {% endif %}
    {% if not is_external and SHOW_GEO %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-geodata-tab"
           data-toggle="tab" href="#{{window_id}}-geodata" role="tab"
           aria-controls="{{window_id}}-geodata" aria-selected="false">
            {% trans "Geographic data" %}
        </a>
    </li>
    {% endif %}
    {% if display_data %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-data-tab"
           data-toggle="tab" href="#{{window_id}}-data" role="tab"
           aria-controls="{{window_id}}-data" aria-selected="false">
            {% trans "Custom fields" %}
        </a>
    </li>
    {% endif %}
    {% if not is_external %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-statistics-tab"
           data-toggle="tab" href="#{{window_id}}-statistics" role="tab"
           aria-controls="{{window_id}}-statistics" aria-selected="false">
            {% trans "Statistics" %}
        </a>
    </li>
    {% endif %}

</ul>
{% endif %}

<div class="tab-content" id="{{window_id}}-tab-content">
    <div class="tab-pane fade show active" id="{{window_id}}-general"
       role="tabpanel" aria-labelledby="{{window_id}}-general-tab">

        <div class="clearfix">
            <div class="card float-left col-12 col-md-6 col-lg-4">
                {% include "ishtar/blocks/window_image.html" %}
                <div class="card-body">
                    <div class="row">
                        <div class="col main">
                            {% if item.year or item.operation_code %}
                            {{item.year|default:''}}-{{item.operation_code|default:''}}{% endif %}<br>
                            {% if item.code_patriarche %}{% if PROFILE.operation_prefix %}{{PROFILE.operation_prefix}}{% endif %}{{item.code_patriarche}}{% endif %}
                            {% if item.complete_identifier %}<p class="window-refs"
                                    title="{% trans 'Complete identifier' %}">
                            <strong>{{ item.complete_identifier }}</strong></p>{% endif %}
                        </div>
                        <div class="col text-muted">
                            {% include "ishtar/blocks/sheet_external_id.html" %}
                        </div>
                    </div>
                    <div class="card-text">
                        <p class='window-refs' title="{% trans 'Towns' %}">
                            {% if next %}
                            {{ item|m2m_listing:'towns'|join:" ; "|default:''  }}
                            {% else %}
                            {{ item.cached_towns_label }}
                            {% endif %}
                        </p>
                        <p class='window-refs' title="{% trans 'Name' %}">{{item.common_name|default:''}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% trans "Excavation dates (start/end)" as date_label %}
                {% if not is_external %}
                {% with start_date=item.start_date|date:"DATE_FORMAT"|default:"-" %}
                {% with end_date=item.excavation_end_date|date:"DATE_FORMAT"|default:"-" %}
                {% with dates=start_date|add:" / "|add:end_date %}
                {% field_flex_2 date_label dates %}
                {% endwith %}{% endwith %}{% endwith %}
                {% else %}
                {% with start_date=item.start_date|default:"-" %}
                {% with end_date=item.excavation_end_date|default:"-" %}
                {% with dates=start_date|add:" / "|add:end_date %}
                {% field_flex_2 date_label dates %}
                {% endwith %}{% endwith %}{% endwith %}
                {% endif %}
                <dl class="col-12 col-md-6 col-lg-3 flex-wrap">
                    <dt>
                        {% trans "State" %}
                    </dt>
                    <dd>
                        {% if item.is_active %}
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% trans "Active file" %}
                        {% elif is_external %}{% else %}
                        <i class="fa fa-stop-circle text-warning" aria-hidden="true"></i>
                        {% trans "Closed operation" %}
                        {% endif %}
                    </dd>
                </dl>
                {% field_flex_2 "Code DRASSM" item.drassm_code %}
                {% field_flex_2 "Old code" item.old_code %}

                {% with has_image=item.images.count %}
                {% if not has_image %}
            </div>
        </div>
        <div class="row">
            {% endif %}

            {% field_flex "Type" item.operation_type %}
            {% field_flex_detail "Head scientist" item.scientist has_image %}
            {% field_flex_detail "Scientific monitor" item.in_charge  has_image %}
            {% field_flex_multiple "Collaborators" item.collaborators has_image %}
            {% field_flex_detail "Operator" item.operator has_image %}
            {% if item.closing.date %}
            <dl class="col-12 col-md-6 col-lg-3 flex-wrap">
                <dt>{%trans "Closing date"%}</dt>
                <dd>
                    {{ item.closing.date }} <strong>{%trans "by" %}</strong> {{ item.closing.user }}
                </dd>
            </dl>
            {% endif %}
            {% if item.surface  %}
            <dl class="col-12 col-md-6 col-lg-3 flex-wrap">
                <dt>{%trans "Surface"%}</dt>
                <dd>
                    {{ item.surface }} m<sup>2</sup> ({{ item.surface_ha }} ha)
                </dd>
            </dl>
            {% endif %}
            {% if item.cost %}
            <dl class="col-12 col-md-6 col-lg-3 flex-wrap">
                <dt>{%trans "Cost" %}</dt>
                <dd>
                    {{ item.cost }} &euro;{% if item.cost_by_m2 %}, ({{ item.cost_by_m2 }} &euro;/m<sup>2</sup>){%endif%}
                </dd>
            </dl>
            {% endif %}
            {% if item.duration %}
            <dl class="col-12 col-md-6 col-lg-3 flex-wrap">
                <dt>{%trans "Duration"%}</dt>
                <dd>{{ item.duration }} {% trans "days" %}</dd>
            </dl>
            {% endif %}
            {% if has_image %}
        </div> {# <div> #}
            {% endif %}
            {% endwith %}
            <hr class="clearfix">
            {% field_flex_multiple_obj "Remains" item 'remains' %}
            {% field_flex_multiple_obj "Chronological period" item 'periods' %}
            {% field_flex "Record quality" item.record_quality_type %}
            {% with report_delivery_date=item.report_delivery_date|date:"DATE_FORMAT"|default:"" %}
            {% field_flex "Report delivery date" report_delivery_date %}
            {% endwith %}
            {% field_flex "Report processing" item.report_processing %}

            {% with documentation_deadline=item.documentation_deadline|date:"DATE_FORMAT"|default:"" %}
            {% field_flex "Deadline for submission of the documentation" documentation_deadline %}
            {% endwith %}
            {% field_flex "Documentation received" item.documentation_received %}

            {% with finds_deadline=item.finds_deadline|date:"DATE_FORMAT"|default:"" %}
            {% field_flex "Deadline for submission of the finds" finds_deadline %}
            {% endwith %}
            {% field_flex "Finds received" item.finds_received %}
            {% field_flex_detail "Associated file" item.associated_file %}

            {% field_flex "Résultat considéré comme négatif" item.negative_result %}
            {% field_flex_detail "Rapporteur CTRA/CIRA" item.cira_rapporteur %}
            {% with cira_date=item.cira_date|date:"DATE_FORMAT"|default:"" %}
            {% field_flex "Date avis CTRA/CIRA" cira_date %}
            {% endwith %}

            {% field_flex "Operator reference" item.operator_reference %}
            {% field_flex "Responsible for planning service" item.associated_file.responsible_town_planning_service.full_address %}
            {% if item.associated_file.town_planning_service %}
            {% field_flex "Planning service organization" item.associated_file.town_planning_service.full_address %}
            {% else %}
            {% field_flex "Planning service organization" item.associated_file.responsible_town_planning_service.attached_to.full_address %}
            {% endif %}
            {% field_flex "Permit type" item.associated_file.permit_type %}
            {% field_flex "Permit reference" item.associated_file.permit_reference %}
            {% field_flex "General contractor" item.associated_file.general_contractor.full_address %}
            {% if item.associated_file.corporation_general_contractor %}
            {% field_flex "General contractor organization" item.associated_file.corporation_general_contractor.full_address %}
            {% else%}
            {% field_flex "General contractor organization" item.associated_file.general_contractor.attached_to.full_address %}
            {% endif %}
        </div>
        <div class="row">
            {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
            {% field_flex_full "Abstract" item.abstract "<pre>" "</pre>" %}
            {% field_flex_full "Comment about scientific documentation" item.scientific_documentation_comment "<pre>" "</pre>" %}
        </div>

        {% if item.virtual_operation %}
        <div class="alert alert-warning" role="alert">
            {% trans "This operation is virtual." %}
        </div>
        {% endif %}

        {% if not item.code_patriarche %}
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> &nbsp;
            {% trans "Patriarche OA code not yet recorded!"%}
        </div>
        {% endif %}

        {% if item.fnap_financing or item.fnap_cost or item.zoning_prescription or item.large_area_prescription or item.geoarchaeological_context_prescription or item.scheduled_man_days or item.optional_man_days or item.effective_man_days %}
        <h3>{% trans "Preventive" %}</h3>
        <div class="row">
            {% field_flex "Financement FNAP (%)" item.fnap_financing %}
            {% field_flex "Financement FNAP (€)" item.fnap_cost %}
            {% field_flex "Prescription on zoning" item.zoning_prescription %}
            {% field_flex "Prescription on large area" item.large_area_prescription %}
            {% field_flex "Prescription on geoarchaeological context" item.geoarchaeological_context_prescription %}
            {% field_flex "Scheduled man-days" item.scheduled_man_days %}
            {% field_flex "Optional man-days" item.optional_man_days %}
            {% field_flex "Effective man-days" item.effective_man_days %}
        </div>
        {% endif %}

        {% if item.seizure_name or item.official_report_number or item.name_of_the_protagonist or item.applicant_authority or item.minutes_writer %}
        <h3>{% trans "Court-ordered seizure" %}</h3>
        <div class="row">
            {% field_flex "Seizure name" item.seizure_name %}
            {% field_flex "Official report number" item.official_report_number %}
            {% field_flex_detail "Protagonist" item.protagonist %}
            {% field_flex_detail "Applicant authority" item.applicant_authority %}
            {% field_flex_detail "Writer of the minutes" item.minutes_writer %}
        </div>
        {% endif %}

        <h3>{% trans "Geographic localisation" %}</h3>

        <div class="row">
            {% with geo_item=item %}
            {% include "ishtar/blocks/sheet_map.html"%}
            {% endwith %}
        </div>
        <div class="row">
            {% if next %}
            {% field_flex "Towns" item|m2m_listing:'towns'|join:" ; "  %}
            {% else %}
            {% field_flex_detail_multiple "Towns" item.towns %}
            {% endif %}
            {% field_flex "Address" item.address %}
            {% if not item.address %}
            {% field_flex "Main address" item.associated_file.address %}
            {% field_flex "Complement" item.associated_file.address_complement %}
            {% field_flex "Postal code" item.associated_file.postal_code %}
            {% endif %}
        </div>
        {% if not is_external %}
        <h3>{% trans "Sheet"%}</h3>
        <div class="row">
            {% include "ishtar/blocks/sheet_creation_section.html" %}
        </div>
        {% endif %}

    </div>

    {% if display_sites %}   
    <div class="tab-pane fade" id="{{window_id}}-sites"
       role="tabpanel" aria-labelledby="{{window_id}}-sites-tab">
        {% trans "Archaeological sites" as archaeologicalsites_label %}
        {% if item.archaeological_sites.count %}
        {% dynamic_table_document archaeologicalsites_label 'sites' 'operations' item.pk '' output %}
        {% elif item.archaeological_sites_list %}
        <h3>{{archaeologicalsites_label}}</h3>
        <table class='table table-striped datatables'
               id="{{window_id}}-sites-table">
        {% for values in item.archaeological_sites_list %}{% if not forloop.counter0 %}
            <thead>
            {% for value in values %}<th class="text-center">{{value}}</th>{% endfor %}
            </thead>
            {% else %}
            <tr>
                {% for value in values %}<td>{{value}}</td>{% endfor %}
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        {% endif %}

        {% if item.parcels.count %}
        {% trans "Associated parcels" as parcels_label %}
        {% include "ishtar/blocks/window_tables/parcels.html" %}
        {% endif %}

        {% if item.administrative_act.count %}
        <h3>{% trans "Administrative acts" %}</h3>
        {% table_administrativact "" item.administrative_act.all %}
        {% endif %}
    </div>
    {% endif %}

    {% if display_documents %}
    <div class="tab-pane fade" id="{{window_id}}-documents"
       role="tabpanel" aria-labelledby="{{window_id}}-documents-tab">
        {% trans "Document from this operation" as operation_docs %}
        {% if item.documents.count %}
        {% dynamic_table_document operation_docs 'documents' 'operations' item.pk '' output %}
        {% elif item.documents_list %}
        <h3>{{operation_docs}}</h3>
        {% include "ishtar/blocks/api_document_list.html" %}
        {% endif %}
    </div>
    {% endif %}

    {% if display_relations %}
    <div class="tab-pane fade" id="{{window_id}}-relations"
       role="tabpanel" aria-labelledby="{{window_id}}-relations-tab">

        {% if item.right_relations.count %}
        <h3>{% trans "Relations"%}</h3>
        {% for rel in item.right_relations.all %}
        {% ifchanged rel.relation_type %}
        {% if forloop.counter0 %}</div>{% endif %}
        <h4>{{rel.relation_type}}</h4>
        <div class="row">{% endifchanged %}
            <div class="col-12">
                <a href="#" onclick="load_window('/show-operation/{{rel.right_record.pk|unlocalize}}/');" class="display_details">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a> {{rel.right_record}}
            </div>
        {% if forloop.last %}
        </div>{% endif %}
        {% endfor %}
        {% else %}
        <div class="alert alert-info" role="alert">
            <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;
            {% trans "No relations" %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    
    {% if display_context_records %}
    <div class="tab-pane fade" id="{{window_id}}-cr"
       role="tabpanel" aria-labelledby="{{window_id}}-cr-tab">
        {% trans "Context records" as cr_lab %}
        {% dynamic_table_document cr_lab 'context_records_for_ope' 'operation_id' item.pk 'TABLE_COLS_FOR_OPE' output %}

        {% if item.context_record_relations_q.count %}
        {% trans "Context record relations" as cr_rels %}
        {% dynamic_table_document cr_rels 'context_records_relations_detail' 'left_record__operation' item.pk '' output %}
        {% endif %}

        {% if permission_view_own_document or permission_view_document %}
        {% if item.context_record_docs_q.count %}
        {% trans "Documents from associated context records" as cr_docs %}
        {% dynamic_table_document cr_docs 'documents' 'context_records__operation' item.pk '' output %}
        {% endif %}
        {% if item.context_record_relations_q.count %}

        <h3>{% trans "Diagram of stratigraphic relations" %}</h3>
        {% with gen_url='generate-relation-image-contextrecord' %}

        {% with relation_type="full" %}
        {% with relation_image=item.relation_image %}
        {% with relation_png=item.relation_bitmap_image %}
        {% with relation_dot=item.relation_dot %}
        {% include "ishtar/blocks/sheet_relation_image.html" %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}

        {% endwith %}
        {% endif %}
    </div>
    {% endif %}

    {% if display_finds %}
    <div class="tab-pane fade" id="{{window_id}}-finds"
       role="tabpanel" aria-labelledby="{{window_id}}-finds-tab">
        {% trans "Finds" as finds %}
        {% dynamic_table_document finds 'finds_for_ope' 'base_finds__context_record__operation' item.pk 'TABLE_COLS_FOR_OPE' output %}
        {% endif %}

        {% if perm_documents and item.find_docs_q.count %}
        {% trans "Documents from associated finds" as finds_docs %}
        {% dynamic_table_document finds_docs 'documents' 'finds__base_finds__context_record__operation' item.pk '' output %}
        {% endif %}

        {% if permission_view_own_container or permission_view_container %}
        {% if item.containers_q.count %}
        {% trans "Associated containers" as containers_lbl %}
        {% dynamic_table_document containers_lbl 'containers' 'finds__base_finds__context_record__operation' item.pk '' output %}
        {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {% if not is_external and SHOW_GEO %}
    <div class="tab-pane fade" id="{{window_id}}-geodata"
         role="tabpanel" aria-labelledby="{{window_id}}-geodata-tab">
        {% with geo_item=item %}{% include "ishtar/blocks/sheet_geographic.html" %}{% endwith %}
    </div>
    {% endif %}

    {% if display_data %}
    <div class="tab-pane fade" id="{{window_id}}-data"
       role="tabpanel" aria-labelledby="{{window_id}}-data-tab">
        {% include "ishtar/blocks/sheet_json.html" %}
    </div>
    {% endif %}
    {% if not is_external %}
    <div class="tab-pane fade" id="{{window_id}}-statistics"
       role="tabpanel" aria-labelledby="{{window_id}}-statistics-tab">
        <h3>{% trans "Statistics" %}</h3>

        <div class="row mt-2 mb-2">
            <div class="col">
                <div class="btn-group btn-group-sm" role="group"
                     aria-label="{% trans 'Export' %}">
                    <a class="btn btn-success"
                       onclick="long_wait();return true;"
                       href="{% url 'generate-stats-operation' item.pk %}">

                        {% trans "Regenerate statistics" %}
                    </a>
                </div>
                {% with item.last_stats_update as last_stats_update%}
                {% if last_stats_update %}<small class="ml-2">
                <em>{% trans "Last update:" %} {{last_stats_update}}</em>
            </small>{% endif %}{% endwith %}
            </div>
        </div>

        <h4>{% trans "Administrative acts" %}</h4>
        <div class='row'>
        {% field_flex_2 "Number of administrative acts" item.nb_acts %}
        {% field_flex_2 "Number of indexed administrative acts" item.nb_indexed_acts %}
        </div>

        <h4>{% trans "Parcels" %}</h4>
        <div class='row'>
        {% field_flex_2 "Number of parcels" item.nb_parcels %}
        </div>

        <h4>{% trans "Context records" %}</h4>
        <div class='row'>
        {% field_flex_2 "Number of context records" item.nb_context_records %}
        </div>
        <div class='row'>
        {% if item.nb_context_records_by_type %}
            <div class="col-12 col-md-6 col-lg-4">
                <table class="table table-striped">
                <tr><th>{% trans "Type" %}</th><th>{% trans "Number" %}</th></tr>
                {% for label, nb in item.nb_context_records_by_type %}
                <tr><td>{{label|default:"-"}}</td><td>{{nb}}</td></tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if item.nb_context_records_by_periods %}
            <div class="col-12 col-md-6 col-lg-4">
                <table class="table table-striped">
                <tr><th>{% trans "Chronological period" %}</th><th>{% trans "Number" %}</th></tr>
                {% for label, nb in item.nb_context_records_by_periods %}
                <tr><td>{{label|default:"-"}}</td><td>{{nb}}</td></tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>

        <h4>{% trans "Finds" %}</h4>
        <div class='row'>
        {% field_flex_2 "Number of finds" item.nb_finds %}
        </div>
        <div class='row'>
        {% if item.nb_finds_by_material_type %}
            <div class="col-12 col-md-6 col-lg-4">
                <table class="table table-striped">
                <tr><th>{% trans "Material type" %}</th><th>{% trans "Number" %}</th></tr>
                {% for label, nb in item.nb_finds_by_material_type %}
                <tr><td>{{label|default:"-"}}</td><td>{{nb}}</td></tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if item.nb_finds_by_types %}
            <div class="col-12 col-md-6 col-lg-4">
                <table class="table table-striped">
                <tr><th>{% trans "Object type" %}</th><th>{% trans "Number" %}</th></tr>
                {% for label, nb in item.nb_finds_by_types %}
                <tr><td>{{label}}</td><td>{{nb}}</td></tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if item.nb_finds_by_periods %}
            <div class="col-12 col-md-6 col-lg-4">
                <table class="table table-striped">
                <tr><th>{% trans "Chronological period" %}</th><th>{% trans "Number" %}</th></tr>
                {% for label, nb in item.nb_finds_by_periods %}
                <tr><td>{{label|default:"-"}}</td><td>{{nb}}</td></tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>

        <h4>{% trans "Sources" %}</h4>
        <div class='row'>
        {% field_flex "Number of sources" item.nb_documents %}
        </div>
        <div class='row'>
        {% if item.nb_documents_by_types %}
            <div class="col-12 col-md-6 col-lg-4">
                <table class="table table-striped">
                <tr><th>{% trans "Type" %}</th><th>{% trans "Number" %}</th></tr>
                {% for label, nb in item.nb_documents_by_types %}
                <tr><td>{{label}}</td><td>{{nb}}</td></tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>

        {% if item.nb_stats_finds_by_ue %}
        <h4>{% trans "Finds by context records" %}</h4>
        <div class='row'>
        {% field_flex_2 "Mean" item.nb_stats_finds_by_ue.mean %}
        {% field_flex_2 "Min" item.nb_stats_finds_by_ue.min %}
        {% field_flex_2 "Max" item.nb_stats_finds_by_ue.max %}
        {% field_flex_2 "Mode" item.nb_stats_finds_by_ue.mode %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>


<script type="text/javascript">{% localize off %}
$(document).ready( function () {
    datatable_options = {
        "dom": 'ltip',
    };
    $.extend(datatable_options, datatables_static_default);
    if (datatables_i18n) datatable_options['language'] = datatables_i18n;
    $('.datatables').each(
        function(){
            var dt_id = "#" + $(this).attr('id');
            if (! $.fn.DataTable.isDataTable(dt_id) ) {
                $(dt_id).DataTable(datatable_options);
            }
         });
} );
{% endlocalize %}</script>

{% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %}

{% endblock %}