#advanced-search-resume, #window-fixed-menu,
#language-form{
    display: none;
}

.required label{
    font-weight: bold;
}

html{
    background-image: url('images/ishtar-bg.png');
    background-repeat: no-repeat;
    background-position: right 30px top 150px;
}

.text-large{
    font-size: 1.8em;
}

.form-thumbnail{
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}


#window-fixed-menu.hidden #window-fixed-menu-list{
    display: none;
}

#id_parcel_0, #id_parcel_1, #id_parcel_2{
    width: 30%;
    display: inline-block;
}

.nav-button{
    cursor:pointer;
    z-index: 1000;
    position: fixed;
    right: 5px;
    margin-top: 5px;
}

div.nav-button:hover{
    opacity: 0.2;
}

#to_top_arrow{
    bottom:84px;
}

div#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 101;
}

div#validation-bar{
    padding: 5px 0;
}

button:hover{
    cursor: pointer;
}

.fa-question-circle{
    cursor: help;
}

div#foot{
    font-size: 0.75em;
    text-align: center;
    padding: 0.2em;
}

/* shortcut menu */

.shortcut-title {
    line-height: 2em;
    vertical-align: top;
    padding: 0 0.8em;
}

/* window */
.close-buttons{
    position: absolute;
    right: 10px;
    top: 5px;
    text-align: right;
}


.toolbar{
    padding: 0.5em;
}

.history-nav{
    display: inline-block;
    width: 150px;
    text-align: center;
}

.sheet .card-body{
    padding: 0.5em;
}

.sheet .card-body .main{
    font-weight: bold;
}

.sheet .card-body p{
    margin: 0;
    font-size: 0.9em;
}

.mini-table{
    height: 500px;
    overflow: auto;
    display: block;
}

.sheet h4{
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.45);
}

.form .card, .sheet .card{
    margin-bottom: 1em;
}

.table-modal-lg .current-sheets{
    margin-bottom: 1em;
}

/* dataTable - start */

.dataTables_wrapper .dataTables_processing{
    height: auto;
}

table.dataTable thead tr{
    background-color: #fff;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 2px;
}

.dataTables_wrapper .dataTables_length{
    font-size: 0.8em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border: 1px solid transparent;
}
.dataTables_scrollBody:hover{
    cursor: pointer;
}

table.dataTable thead th, table.dataTable thead td {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #e6e6e6;
}

/* dataTable - end */

.display_details{
    font-size: 1.4em;
    vertical-align: middle;
    padding: 0 0.1em;
}

.progress-detail{
    display: none;
}

.progress-detail.progress-1{
    display: block;
}

.chart-img{
    display: none;
}

.clean-table-wrap{
    overflow-x: auto;
}

.step-by-step-csv textarea {
    height: 50px;
}

/* à adapter */
#message,
#message div{
    display: none;
}

#message {
    z-index: 42200;
    position: fixed;
    top: 5px;
    right: 5px;
    background: #fff;
    padding: 0.5em 1em;
    border: 1px solid;
    border-radius: 3px;
}

#message span{
    padding: 0 1em;
}
