{% extends "ishtar/blocks/base_shortcut_menu.html" %}
{% load i18n %}
{% block short_content %}
<div class="d-flex">
    <div class="short-menu-buttons btn-group p-2" role="group">
        <button type="button" class="btn btn-secondary"
                id='short-menu-simple' title="{% trans 'Simple menu limited to your own items. Be careful only the last 100 items are displayed.' %}">{% trans "simple" %}</button>
        <button type="button" class="btn btn-secondary active" id='short-menu-advanced' title="{% trans 'Advanced menu' %}">{% trans "advanced" %}</button>
    </div>
    <div id='action_current_items' class="btn-group p-2" role="group">
        <button type="button" onclick='return activate_own_search();'
               title="{% trans 'Search within my items' %}"
               class='btn btn-secondary activate_own_search{% if SHORTCUT_SEARCH == "own" %} active{% endif %}'>
            <i class="icon fa fa-user" aria-hidden="true"></i>
        </button>
        <button type="button" onclick='return activate_all_search();'
               title="{% trans 'Search within all items' %}"
               class='btn btn-secondary activate_all_search{% if SHORTCUT_SEARCH == "all" %} active{% endif %}'>
            <i class="icon fa fa-users" aria-hidden="true"></i>
        </button>
        {% comment %}
        <p>
            <a href='' onclick='return load_shortcut_menu();' class='disabled'><i class="icon fa fa-2x fa-refresh" aria-hidden="true" title="{% trans 'Refresh menu' %}"></i></a>
        </p>
        {% endcomment %}
    </div>
    <div class="short-menu-buttons btn-group ml-auto p-2" role="group">
        <button type="button" class="btn btn-secondary active"
                id='short-menu-refresh' onclick="location.reload();"
                title="{% trans 'Refresh current page' %}">
            <i class="icon fa fa-refresh" aria-hidden="true"></i>
        </button>
    </div>
</div>
<p id='current_items'>
    {% for lbl, model_name, current, widget in menu %}
      <div class="form-group row">
          <label for="current_{{model_name}}"
                 class="col-sm-4 col-form-label">{{lbl}}</label>
          <div class="col-sm-6">
              {{widget|safe}}
          </div>
          {% with 'show-'|add:model_name as model_url%}
          <div class="col-sm-2">
              <a href='#' onclick='load_current_window("{% url model_url current %}", "{{model_name}}");' class='display_details'>
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
              <a href='#'
                 class='disabled pin-action text-danger'
                 onclick='$.get("{% url "unpin" model_name %}", function(){load_shortcut_menu();});' title="{% trans 'Unpin' %}">
                  <i class="fa fa-times"></i>
              </a>
          </div>
          {% endwith %}
      </div>
    </tr>
    {% endfor %}
</p>
{% endblock %}

{% block short_extrajs %}
var advanced_menu = true;
{% endblock %}
