<table class='table table-striped datatables'
       id="{{window_id}}-docs-table">
    {% for values in item.documents_list %}{% if not forloop.counter0 %}
    <thead>
    {% for value in values %}<th class="text-center">{{value}}</th>{% endfor %}
    </thead>
    {% else %}
    <tr>
        {% for value in values %}<td>{{value}}</td>{% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
