{% load i18n %}<div id="foot">
    {% if SITE_PROFILE.footer %}<div id="extra-foot">
    {{SITE_PROFILE.rendered_footer|safe}}
    </div>{% endif %}
    {% blocktrans %}Powered by <a href="https://ishtar-archeo.net/">Ishtar</a> v{{VERSION}} - a free software under AGPL v3 license.{% endblocktrans %}
</div>