{% load i18n window_field %}
{% for json_section, json_fields in item.json_sections %}
{% if json_section %}<h3>{{json_section}}</h3>{% endif %}
{% for label, value in json_fields %}
{% if forloop.first %}<div class='row'>{% endif %}
    {% field_flex label value %}
{% if forloop.last %}</div>{% endif %}
{% empty %}
{% trans "No data" %}
{% endfor %}
{% endfor %}
