{% load i18n %}
{% if item.get_address or item.get_address_complement or item.get_postal_code or item.get_town or item.get_precise_town%}
<dl class="{% if full %}col-12 col-lg-6{% else %}col-12 col-md-6 col-lg-4 d-flex row{% endif %} flex-wrap">
    <dt>{% trans "Address" %}</dt>
    <dd>
    <pre>{% if item.get_address %}{{item.get_address}}{% endif %}{% if item.get_address_complement %}
{{item.get_address_complement}}{% endif %}{% if item.get_postal_code or item.get_town or item.get_precise_town %}
{{item.get_postal_code}} {% if item.get_precise_town %}{{item.get_precise_town}}{% else %}{{item.get_town}}{% endif %}{% endif %}</pre>
    </dd>
</dl>{% endif %}
