{% load i18n link_to_window %}
{% if not is_external %}
{% if item.history_creator.ishtaruser.person %}
<div class="col-12 col-md-6 col-lg-3 flex-wrap text-muted"
     title="{% trans 'Creation' context 'Sheet' %}">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    {{item.history_creator.ishtaruser.person}}
    {{item.history_creator.ishtaruser.person|link_to_window:request}}<br/>
    <small>{{item.created|date:"DATETIME_FORMAT"}}</small>
</div>
{% endif %}
{% if not item.last_edition_date or item.created != item.last_edition_date %}
<div class="col-12 col-md-6 col-lg-3 flex-wrap text-muted"
     title="{% trans 'Modification' context 'Sheet' %}">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    {{item.history_modifier.ishtaruser.person}}
    {{item.history_modifier.ishtaruser.person|link_to_window:request}}<br/>
    <small>{% firstof item.history_date|date:"DATETIME_FORMAT" item.history.all.0.history_date|date:"DATETIME_FORMAT" %}</small>
</div>
{% endif %}
{% endif %}
