{% extends "ishtar/blocks/base_shortcut_menu.html" %}
{% load i18n %}
{% block short_content %}
<div class="d-flex">
    <div class="short-menu-buttons btn-group p-2" role="group">
        <button type="button" class="btn btn-secondary active"
                id='short-menu-simple' title="{% trans 'Simple menu limited to your own items. Be careful only the last 100 items are displayed.' %}">{% trans "simple" %}</button>
        <button type="button" class="btn btn-secondary" id='short-menu-advanced' title="{% trans 'Advanced menu' %}">{% trans "advanced" %}</button>
    </div>
    <div class="short-menu-buttons btn-group ml-auto p-2" role="group">
        <button type="button" class="btn btn-secondary active"
                id='short-menu-refresh' onclick="location.reload();"
                title="{% trans 'Refresh current page' %}">
            <i class="icon fa fa-refresh" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div>
    <p class="alert alert-info mt-2">
        {% trans 'Simple menu limited to your own items. Be careful only the last 100 items are displayed.' %}
    </p>
    <p id='current_items'>
        {% for lbl, model_name, main_cls, items in current_menu %}
        <div class="form-group row">
            <label for="current_{{model_name}}"
                class="col-sm-4 col-form-label">{{lbl}}</label>
            <div class="col-sm-6">
                <select class='{{main_cls}} chosen-select' id='current_{{model_name}}'>
                    <option class='normal' value=''>--</option>
                    {% for val, label, selected, cls in items %}<option{% if cls %} class='{{cls}}'{% endif %} value='{{val}}'{% if selected %} selected="selected"{% endif %}>{% ifequal cls 'basket' %}&#xf291; {% endifequal %}{% ifequal cls 'green' %}&#xf058; {% endifequal %}{% ifequal cls 'orange' %}&#xf06a; {% endifequal %}{% ifequal cls 'red' %}&#xf071; {% endifequal %}{{label}}</option>
                    {% endfor %}</select>
            </div>
            {% with 'show-'|add:model_name as model_url%}
            <div class="col-sm-2">
                <a href='#' onclick='load_current_window("{% url model_url 0 %}", "{{model_name}}");' class='display_details'>
                    <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                <a href='#'
                   class='disabled pin-action text-danger'
                   onclick='$.get("{% url "unpin" model_name %}", function(){load_shortcut_menu();});' title="{% trans 'Unpin' %}">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            {% endwith %}
        </div>
        {% endfor %}
    </p>
</div>
{% endblock %}

{% block short_extrajs %}
var advanced_menu = false;
{% endblock %}
