{% load i18n %}{% if link %}
<dl class="col-12 col-md-6 col-lg-3 flex-wrap">
    <dt>{% trans caption %}</dt>
    <dd>
        <a href="{{link|safe}}" class="btn btn-secondary" target="_blank">
            {% if link_name %}{{link_name}}{% else %}{{link}}{% endif %}
        </a>
    </dd>
</dl>
{% endif%}
