{% load i18n %}{% if data %}
    <dl class="col-12 {% if size == 2 %}col-lg-6{% else %}col-md-6 col-lg-3{% endif %} flex-wrap">
        <dt>{% trans caption %}</dt>
        <dd>{{pre_data|safe}}{{data|linebreaksbr}}{{post_data|safe }}</dd>
    </dl>
{% endif %}
