{% load i18n %}{% if data %}
<dl class="col-12 {% if size == 2 %}col-lg-6{% else %}col-md-6 col-lg-3{% endif %} flex-wrap">
    <dt>{% trans caption %}</dt>
    <dd>{% for d in data %}
        {% if forloop.counter0 %} ; {% endif %}{{ d.item }}{{d.link}}
    {% endfor %}</dd>
</dl>
{% endif %}
