{% load i18n ishtar_helpers link_to_window %}{% if item.images_number %}
{% if output == "ODT" or output == "PDF"%}
{% include "ishtar/blocks/window_image_odt.html" %}
{% else %}
{% with can_edit_document=permission_change_own_document|or_:permission_change_document %}
{% trans "Sheet" as sheet_lbl %}
<div class="lightgallery-captions">
    {% if item.main_image and item.main_image.image %}{% with image=item.main_image %}
    <div id="lightgallery-{{window_id}}-caption-0">
        <span class="close">&times</span>
        {{image|simple_link_to_window:sheet_lbl}} &nbsp;
        {% if can_edit_document %}
        <a href="{% url 'edit-document' image.pk %}" class="display_details">
            <i class="fa fa-pencil"></i> <small>{% trans "Modify" %}</small>
        </a>
        {% endif %}
    </div>
    {% endwith %}{% endif %}
    {% for image in item.images_without_main_image.all %}{% if image.image %}
    <div id="lightgallery-{{window_id}}-caption-{{forloop.counter}}">
        <span class="close">&times</span>
        {% include "ishtar/blocks/window_image_detail.html" %}
        {{image|simple_link_to_window:sheet_lbl}} &nbsp;
        {% if can_edit_document %}
        <a href="{% url 'edit-document' image.pk %}" class="display_details">
            <i class="fa fa-pencil"></i> <small>{% trans "Modify" %}</small>
        </a>
        {% endif %}
    </div>
    {% endif %}{% endfor %}
</div>
<div id="lightgallery-{{window_id}}">
    {% if item.main_image and item.main_image.image %}{% with image=item.main_image %}
    <a data-sub-html="#lightgallery-{{window_id}}-caption-0"
       href="{{image.image.url}}" class="window-main-image">
        <img class='card-img-top' src="{{image.thumbnail.url}}">
    </a>
    {% endwith %}{% endif %}
    {% for image in item.images_without_main_image.all %}{% if image.image %}
    <a data-sub-html="#lightgallery-{{window_id}}-caption-{{forloop.counter}}"
       href="{{image.image.url}}" class="lightgallery-subimage">
        <img src="{{image.thumbnail.url}}">
    </a>
    {% endif %}{% endfor %}
</div>
{% endwith %}
{% endif%}
{% endif%}
