{% load i18n %}{% if data.count %}
    <dl class="col-12">
        <dt>{% trans caption %}</dt>
        <dd>{% for d in data.distinct.all %}
            {% if forloop.counter0 %} ; {% endif %}{{ d }}
        {% endfor %}</dd>
    </dl>
{% endif %}
