{% load i18n %}{% if data.count or external %}
<dl class="col-12 {% if size == 2 %}col-lg-6{% else %}col-md-6 col-lg-3{% endif %} flex-wrap">
    <dt>{% trans caption %}</dt>
    <dd>{% if not external %}{% for d in data.all %}
        {% if forloop.counter0 %} ; {% endif %}{{ d }}
    {% endfor %}{% else %}{{data}}{% endif %}</dd>
</dl>
{% endif %}
