{% load i18n %}{% if data %}
<dl class="col-12">
    <dt>{% trans caption %}</dt>
    <dd>{% for d in data %}
        {% if forloop.counter0 %} ; {% endif %}{{d.link}} {{ d.item }}
        {% endfor %}</dd>
</dl>
{% endif %}

