{% load i18n %}{% if data %}{% if li %}<li>{% elif flex %}
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-wrap">{% else %}<p>{% endif %}
        <label>{% trans caption %}</label>
        <span class='value'>{{pre_data|safe}}{{data|linebreaksbr}}{{post_data|safe }}</span>
    {% if li %}</li>{% elif flex %}</div>{% else %}</p>{% endif %}
{% endif %}
