{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
<div class="form-row">
    {% with form.qa_code_patriarche as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% with force_large_col=True %}
<div class="form-row">
    {% with form.qa_year as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.qa_common_name as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.qa_operation_type as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endwith %}
{% comment %}
<p>
    <label for="id_modify">{% trans "Edit the duplicated find" %}{% trans ":" %}</label>
    <input type="checkbox" name="modify" id="id_modify">
</p>
{% endcomment %}
{% endblock %}

