{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
{% with force_large_col=True %}
<div class="form-row">
    {% with form.qa_reference as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.qa_name as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endwith %}
{% endblock %}

