{% load i18n l10n %}<div class="form-row form-control">
    {% if widget.value and widget.value.url or hidden_value %}
    <span class="col-4">
        <div id="lightgallery-{{widget.name}}">
            <a href="{% if hidden_value %}{{hidden_value}}{% else %}{{ widget.value.url }}{% endif %}">
                <img class="form-thumbnail"
                     id="img-{{ widget.name }}"
                     src="{% if widget.value.url %}{{ widget.value.url }}{% else %}{{hidden_value}}{% endif %}">
            </a>
        </div>
    </span>
    {% elif hidden_name_value %}
    <span class="col-4">
        {{hidden_name_value}}
    </span>
    {% else %}
    <span class="col-4">
        <div id="lightgallery-{{widget.name}}">
            <a href="">
                <img class="form-thumbnail" id="img-{{ widget.name }}" src="">
            </a>
        </div>
    </span>
    {% endif %}
    <span class="col-8">
        <input type="{{ widget.type }}"
               onchange="preview_input_image(this, '{{ widget.name }}');"
               id="input-{{widget.name}}"
               name="{{ widget.name }}"{% include 'django/forms/widgets/attrs.html' %} />
        <br class="mobile-capture" style="display:none">
        <input type="checkbox" name="mobile-capture" class="mobile-capture" style="display:none"
               id="mobile-{{ widget.name }}">
        <label for="mobile-{{ widget.name }}" class="mobile-capture" style="display:none">{% trans "enable camera" %}</label>

    {% if widget.value and widget.value.url %}{% if not widget.required %}
        <br>
        <input type="checkbox" name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}" />
        <label for="{{ widget.checkbox_id }}">{% trans "delete" %}</label>
    {% endif %}{% endif %}
        <input type="hidden" name="{{ widget.name }}-hidden"
               value="{% if widget.value and widget.value.url %}{{widget.value.url}}{% elif hidden_value %}{{hidden_value}}{% endif %}"/>
        <input type="hidden" name="{{ widget.name }}-hidden-name"
               value="{% if hidden_name_value %}{{hidden_name_value}}{% endif %}"/>
    </span>
</div>
<script type="text/javascript">{% localize off %}
$(document).ready(function(){
    if (mobile_check()){
        $(".mobile-capture").show();
    } else {
        $("#input-{{ widget.name }}").removeAttr("capture");
    }
    lightGallery(document.getElementById('lightgallery-{{widget.name}}'));
    register_preview_input_image("{{ widget.name }}");
});
{% endlocalize %}</script>
