{% load l10n %}<div class="input-group">
    <input class="area_widget form-control" type="text"{{final_attrs|safe}}>
    <div class="input-group-append">
        <div class="input-group-text">
            {{unit1}} (<span id="subunit_{{id}}">0</span>&nbsp;{{unit2}})
        </div>
    </div>
</div>
<script type="text/javascript">{% localize off %}
    function evaluate_{{safe_id}}(){
        value = parseFloat($("#{{id}}").val().replace(",", "."));
        if(!isNaN(value)){
            value = value/{{factor}};
            {% if factor > 1 %}value = value.toFixed("{{factor}}".length);
            {% else %}value = value.toFixed(0);{% endif %}
        } else {
            value = 0;
        }
        $("#subunit_{{id}}").html(value);
    }
    $("#{{id}}").keyup(evaluate_{{safe_id}});
    $(document).ready(evaluate_{{safe_id}}());
{% endlocalize %}</script>
