{% load i18n from_dict %}
<div id="formset-container-{{formset.prefix}}">
    {{ formset.non_form_errors.as_ul }}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="form-row form-{{formset.prefix}}">
    {% if form.non_field_errors and not no_error %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
    {{hidden}}
    {% if hidden.errors %}<div class="invalid-feedback">
        {{ hidden.errors }}
    </div>{% endif %}
    {% endfor %}

    {% csrf_token %}
    {% for field in form.visible_fields %}
    {% ifequal field.name "DELETE" %}{% with bs_col_width='col-2' %}{% include "blocks/bs_field_snippet.html" %}{% endwith %}
    {% else %}{% with bs_col_width='col-3' %}{% include "blocks/bs_field_snippet.html" %}{% endwith %}
    {% endifequal %}
    {% endfor %}

    {% if form.extra_render %}
    {{form.extra_render|safe}}
    {% endif %}
    </div>
    {% endfor %}
    {% if formset.dynamic_add %}
    <div class="form-row pb-2" id="div-add-form-{{formset.prefix}}">
        <div class="col">
            <button class="btn btn-secondary" id="add-form-{{formset.prefix}}" type="button">{% trans "Add" %}</button>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            inline_register_add_button("{{formset.prefix}}");
        });
    </script>
    {% endif %}
</div>
