{% load i18n %}
<style>
</style>
<div>
    <div id="stats-form-{{name}}">
        <div class="form-row">
            <div class="col-6 col-lg-3 offset-lg-3">
                <label for="stats_modality_1-{{name}}">{% trans "Modality 1" %}</label>
                <select class="form-control" id="stats_modality_1-{{name}}" name="stats_modality_1">
                    {% for modality, modality_lbl in current_model.STATISTIC_MODALITIES_OPTIONS.items %}
                    <option value="{{modality}}"{% if forloop.first %} selected='selected'{% endif %}>{{modality_lbl}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 col-lg-3">
                <label for="stats_modality_2-{{name}}">{% trans "Modality 2" %}</label>
                <select class="form-control" id="stats_modality_2-{{name}}" name="stats_modality_2">
                    <option value="" selected='selected'>--</option>
                    {% for modality, modality_lbl in current_model.STATISTIC_MODALITIES_OPTIONS.items %}
                    <option value="{{modality}}">{{modality_lbl}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-6 col-lg-3 offset-lg-3">
                <label for="stats_renderer-{{name}}">{% trans "Type" %}</label>
                <select class="form-control" id="stats_renderer-{{name}}" name="stats_renderer">
                    <option value="bar" selected='selected'>{% trans "Bar" %}</option>
                    <option value="line">{% trans "Line" %}</option>
                    <option value="pie">{% trans "Pie" %}</option>
                    <option value="table">{% trans "Table" %}</option>
                </select>
            </div>
            <div class="col-6 col-lg-3">
                <label for="stats_sum-{{name}}">{% trans "Sum" %}</label>
                <select class="form-control" id="stats_sum-{{name}}" name="stats_sum">
                    {% for sum_var, sum_var_lbl in current_model.STATISTIC_SUM_VARIABLE.items %}
                    <option value="{{sum_var}}"{% if forloop.first %}
                            selected='selected'{% endif %}>{{sum_var_lbl.0}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <hr/>

    {% with stats_name=name %}{% with extra="default" %}
    {% include "blocks/DataTables-stats-detail.html" %}
    {% endwith %}{% endwith %}
    {% if external_sources %}{% for source_id, source_label, source_url, columns, column_labels, export_urls in external_sources %}
    {% with stats_name=name %}{% with extra=source_id %}
    {% include "blocks/DataTables-stats-detail.html" %}
    {% endwith %}{% endwith %}
    {% endfor %}{% endif %}
</div>
