{% load i18n %}

<div class="d-flex justify-content-center">
    <div class="external-sources btn-group btn-group-toggle" data-toggle="buttons">
        <label id="source_button_default" class="btn btn-primary">
            <input type="radio" name="_sources" autocomplete="off" checked>
            {% trans "Local" %}&nbsp;&nbsp;<span class="badge badge-light" id="source_badge_default">-</span>
        </label>
        {% for source_id, source_label, source_url, columns, column_labels, export_urls in external_sources %}
        <label id="source_button_{{source_id}}" class="btn btn-secondary">
            <input type="radio" name="_sources" autocomplete="off">
            {{source_label}}&nbsp;&nbsp;<span class="badge badge-light" id="source_badge_{{source_id}}">-</span>
        </label>
        {% endfor %}
    </div>
</div>
