{% load i18n %}
    <div id="grid_{{name}}_meta_wrapper" class="sources sources-default">
        <table id='grid_{{name}}' class="display" width="100%">
            <thead>
            <tr>
                <th></th>
                <th></th>{% for col in col_names %}
                <th>{{col}}</th>
            {% endfor %}</tr>
            </thead>
        </table>
    </div>

    <div id='foot_{{name}}' class="sources sources-default gridfooter row toolbar">
        <div class='col col-sm-2'>
            <div class="btn-group btn-group-sm" role="group">
                <button type='button' class="btn btn-secondary" data-toggle="modal"
                        data-target="#modal_grid_{{name}}">
                    {% trans "Expand table" %}&nbsp;<i class="fa fa-expand" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="btn-group btn-group-sm" role="group">
                <button id="export-{{name}}" type="button"
                        class="btn btn-secondary dropdown-toggle table-export" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {% trans 'Export'%}
                </button>
                <div class="dropdown-menu" aria-labelledby="export-{{name}}">
                    {% if source_full or extra_sources %}
                    <a class="dropdown-item {{sname}}-csv" href='{{source}}csv' target='_blank'
                    title="{% trans 'Export as CSV - ' %}{% trans 'simple'%}">{% trans "Simple CSV" %}</a>
                    {% if source_full %}<a class='dropdown-item {{sname}}-csv-full' href='{{source_full}}csv' target='_blank' title="{% trans 'Export as CSV - full' %}">{% trans "CSV full" %}</a>{% endif %}
                    {% for slug, name, extra_source in extra_sources %}
                    <a class="dropdown-item {{slug}}-csv-full" href='{{extra_source}}csv' target='_blank' title="{% trans 'Export as CSV - ' %}{{name}}">{{name}}</a>
                    {% endfor %}
                    {% else %}
                    <a class="dropdown-item {{sname}}-csv" href="{{source}}csv" target="_blank" title="{% trans 'Export as CSV' %}">{% trans "CSV" %}</a>
                    {% endif %}
                  </div>
                <div class="input-group-append">
                    <div class="selected-lines input-group-text">
                        <span class="sl-whole">{% trans "whole table" %}</span>
                        <span class="sl-selected"><span class="sl-number"></span>&nbsp;{% trans "selected item(s)" %}</span>
                    </div>
                </div>
            </div>
            {% if current_model.has_label_templates %}<div class="btn-group btn-group-sm" role="group">
                  <button id="export-labels-{{name}}" type="button"
                          class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    {% trans 'Labels' context 'To be print' %}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="export-labels-{{name}}">
                  {% for template in current_model.label_templates %}
                    <a class="dropdown-item {{template.slug}}-labels" href="{{template.get_baselink_for_labels}}" target="_blank" title="{{template.name}}">
                        {{template.name}}
                    </a>
                  {% endfor %}
                  </div>
            </div>{% endif %}
        </div>
    </div>

    {% if multiple %}
    <input type="button" id="add_button_{{name}}" value="{% trans 'Add' %}"/>
    <ul id="selectmulti_{{name}}" class="selectmulti"></ul>
    {% endif %}

    <input type="hidden" id="hidden_{{name}}" name="{{name}}"/>

    {% for source_id, source_label, source_url, columns, column_labels, export_urls in external_sources %}
    <div id="grid_{{name}}_{{source_id}}_meta_wrapper" class="sources sources-{{source_id}}">
        <table id='grid_{{name}}_{{source_id}}' class="display" width="100%">
            <thead>
            <tr>
                <th></th>
                <th></th>{% for col in column_labels %}
                <th>{{col}}</th>
                {% endfor %}</tr>
            </thead>
        </table>
    </div>

    <div id='foot_{{name}}_{{source_id}}' class="sources sources-{{source_id}} gridfooter row toolbar">
        <div class='col col-sm-2'>
            <div class="btn-group btn-group-sm" role="group">
                <button type='button' class="btn btn-secondary" data-toggle="modal"
                        data-target="#modal_grid_{{name}}_{{source_id}}">
                    {% trans "Expand table" %}&nbsp;<i class="fa fa-expand" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        {% if export_urls %}
        <div class="col">
            <div class="btn-group btn-group-sm" role="group">
                <button id="export-{{name}}-" type="button"
                        class="btn btn-secondary dropdown-toggle table-export" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {% trans 'Export'%}
                </button>
                <div class="dropdown-menu" aria-labelledby="export-{{name}}">
                    {% for lbl_export, export_url in export_urls %}
                    <a class="dropdown-item {{sname}}-csv-external" href="{{export_url}}" target="_blank" title="{% trans 'Export as CSV - ' %}{{lbl_export}}">{{lbl_export}}</a>{% endfor %}
                </div>
                <div class="input-group-append">
                    <div class="selected-lines input-group-text">
                        <span class="sl-whole">{% trans "whole table" %}</span>
                        <span class="sl-selected"><span class="sl-number"></span>&nbsp;{% trans "selected item(s)" %}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>



    {% endfor %}
