{% load i18n l10n %}<input{{attrs_select}}/>
</table>

<div id='div-{{name}}'></div>

<input type="hidden"{{attrs_hidden}}/>
<script type="text/javascript">{% localize off %}
{{js}}
{% endlocalize %}</script>
