{% extends "ishtar/forms/base_form.html" %}
{% load i18n %}
{% block form_head %}
{% if item_related_label %}<div class="alert alert-info">
    <strong>{% trans "Related items" %}{% trans ":" %}</strong> {{ item_related_label }}
</div>{% endif %}
{% endblock %}
