{% extends "base.html" %}
{% load i18n inline_formset table_form from_dict %}
{% block extra_head %}
{{form.media}}
{% endblock %}

{% block pre_container %}
<form enctype="multipart/form-data" action="." method="post"{% if confirm %}
      onsubmit='return confirm("{{confirm}}");'{% endif %}>{% csrf_token %}
{% endblock %}
{% block content %}
<h2>{{page_name}}</h2>
<div class='form{% if not form.SEARCH_AND_SELECT %} container{% endif %}'>
    {% if info %}<div class="alert alert-info">
        {{info|safe}}
    </div>{% endif %}
    {% if form.non_field_errors or form.errors %}
    <div class="alert alert-danger">
        <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% trans "Error on validation. Check all your fields. Modification not saved." %}
        </div>
        {% for key, error_details in form.errors.items %}
        {% with field=key|from_dict:form.fields %}<strong>{{ field.label }}</strong>{{error_details}}{% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    {% block form_head %}
    {% endblock %}
    {% block bs_form %}
    {% bs_form form 0 True %}
    {% endblock %}
    {% block bs_form_inlines %}
    {% for inline in inline_forms %}
    <h4>{{inline.form_label}}</h4>
    {% bs_formset inline 0 True %}
    {% endfor %}
    {% endblock %}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    {% if form.SEARCH_AND_SELECT %}
    <p class="confirm-message">{% trans "Search and select an item in the table" %}</p>
    {% endif %}
    <div id='validation-bar' class="row text-center">
        <div class="col-sm">
            <button type="submit" id="submit_form" name='validate'
                    value="validate" class="btn btn-success">
               {% if submit_label %}{{submit_label}}{% else%}{% trans "Validate" %}{% endif %}
            </button>
        </div>
        {% block extra_validation_button %}
        {% endblock %}
    </div>
    {% include 'ishtar/blocks/footer.html' %}
</div>
</form>
{% endblock %}

