{% extends "base.html" %}
{% load i18n inline_formset verbose_names %}
{% block content %}
<h2>{{page_name}}</h2>
    <form action="." method="post">{% csrf_token %}
        <input type="hidden" name="back_url" value="{{back_url}}" />
        <div class="form container">
        {% block "warning_message" %}
            <div class="alert alert-danger">
                <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
                    {% trans "Are you sure to want to delete this geographic item?" %}
                    <p>{% trans "No rollback is possible." %}</p>
                </div>
            </div>
        {% endblock %}

            <div class="card">
                <div class="card-header">
                    {{ object }}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>{% trans "Name" %}</th><td>{{object.name|default:'-'}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Source" %}</th><td>{{object.source_label|default:'-'}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Origin" %}</th><td>{{object.origin|default:'-'}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Data type" %}</th><td>{{object.data_type|default:'-'}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Provider" %}</th><td>{{object.provider|default:'-'}}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Comment" %}</th><td>{{object.comment|default:'-'}}</td>
                        </tr>
                        {% if object.related_items_ishtar_common_town.count %}
                        <tr>
                            <th>{% trans "Geographic item for these towns" %}</th>
                            <td><ul>
                                {% for item in object.related_items_ishtar_common_town.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                        {% if object.related_items_archaeological_operations_operation.count %}
                        <tr>
                            <th>{% trans "Geographic item for these operations" %}</th>
                            <td><ul>
                                {% for item in object.related_items_archaeological_operations_operation.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                        {% if object.related_items_archaeological_operations_archaeologicalsite.count %}
                        <tr>
                            <th>{% trans "Geographic item for these sites" %}</th>
                            <td><ul>
                                {% for item in object.related_items_archaeological_operations_archaeologicalsite.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                        {% if object.related_items_archaeological_context_records_contextrecord.count %}
                        <tr>
                            <th>{% trans "Geographic item for these context records" %}</th>
                            <td><ul>
                                {% for item in object.related_items_archaeological_context_records_contextrecord.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                        {% if object.related_items_archaeological_finds_basefind.count %}
                        <tr>
                            <th>{% trans "Geographic item for these base finds" %}</th>
                            <td><ul>
                                {% for item in object.related_items_archaeological_finds_basefind.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                        {% if object.related_items_archaeological_warehouse_container.count %}
                        <tr>
                            <th>{% trans "Geographic item for these containers" %}</th>
                            <td><ul>
                                {% for item in object.related_items_archaeological_warehouse_container.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                        {% if object.related_items_archaeological_warehouse_warehouse.count %}
                        <tr>
                            <th>{% trans "Geographic item for these operations" %}</th>
                            <td><ul>
                                {% for item in object.related_items_archaeological_warehouse_warehouse.all %}
                                <li>{{item}}</li>{% endfor %}
                            </ul></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>
        {% block "footer" %}
            <div id="footer">
                <p class="confirm-message">{% trans "Are you sure to want to delete this import?" %}</p>
                {% include 'ishtar/wizard/validation_bar.html' %}
                {% include 'ishtar/blocks/footer.html' %}
            </div>
        {% endblock %}
        </div>
    </form>
{% endblock %}
