{% extends "ishtar/form.html" %}
{% load i18n inline_formset table_form ishtar_helpers %}
{% block extra_head %}
<script type='text/javascript'>
var base_profile_url = "{% url 'profile' %}";
$(document).ready(function(){
    $("#id_current_profile").change(function(){
        var profile_id = $("#id_current_profile option:selected").val();
        window.location.href = base_profile_url + profile_id + "/";
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
<h2>{{page_name}}</h2>
<div class='form'>

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
    {{hidden}}
    {% if hidden.errors %}<div class="invalid-feedback">
        {{ hidden.errors }}
    </div>{% endif %}
    {% endfor %}

    <div class="form-row">
        {% for field in form.visible_fields %}
        {% if forloop.counter0 == 0 %}
        <div class="form-group col-12"><div class="col-lg-6">
            {{field|bs_field|safe}}
        </div></div>
    </div>
    <div class="form-row">
        {% elif field.name == 'delete_profile' %}
    </div>
    <div class="form-row col-lg-6 alert alert-danger">
        {% include "blocks/bs_field_snippet.html" %}
        {% else %}
        {% include "blocks/bs_field_snippet.html" %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}

