{% load i18n l10n inline_formset table_form %}

<div class="modal-dialog {% if modal_size == 'large' %}modal-lg {% elif modal_size == 'small'%}modal-sm {% endif%}modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{page_name|safe}}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form enctype="multipart/form-data" action="{{url}}" method="post"
            id="qa-{% if slug %}new-{{slug}}{% else %}action{% endif %}">{% csrf_token %}
            <div class="modal-body body-scroll">
                <div class='form'>
                    {% block main_form %}

                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% bs_form form %}

                    {% if confirm %}
                    <input type="hidden" name="confirm" value="1"/>
                    <h4>{% trans "Modified items" %}</h4>
                    <ul>{% for item in items %}
                        <li>{{item}}</li>{% endfor %}
                    </ul>
                    <h4>{% trans "Modification" %}</h4>
                    <table>
                        {% for field in form %}
                        {% if field.value %}
                        <tr>
                            <th>{{field.label}}{% trans ":" %}&nbsp;</th>
                            <td>{% if field.field.rendered_value %}
                                {{ field.field.rendered_value }}
                                {% else %}
                                {{ field.value }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% endblock %}
                </div>
            </div>
            <div class="modal-footer">
                {% block footer %}
                <button type="submit" id="submit_form" name='validate'
                        value="validate" class="btn btn-success">
                    {% if action_name %}
                    {{ action_name }}
                    {% else %}
                    {% trans "Modify" %}
                    {% endif %}
                </button>
                <button type="button" data-dismiss="modal"
                        aria-label="Close" class="btn btn-secondary">
                    {% trans "Cancel" %}
                </button>
                {% endblock %}
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">{% localize off %}
    {% block js %}
    {% endblock %}
    $(document).ready(function(){
        {% if slug %}
        qa_action_register("{{url}}", "{{slug}}");
        {% else %}
        qa_action_register("{{url}}");
        {% endif %}
    {% block js_ready %}
    {% endblock %}
    });
{% endlocalize %}</script>
