{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <h4>{% trans "Documents" %}</h4>
    <ul>{% for item in items %}
        <li>{{item}}</li>{% endfor %}
    </ul>

    <h4>{% trans "Packaging" %}</h4>
    {% for hidden in form.hidden_fields %}
    {{hidden}}
    {% if hidden.errors %}<div class="invalid-feedback">
        {{ hidden.errors }}
    </div>{% endif %}
    {% endfor %}
    <div class="form-row">
        {% with form.container as field %}
        {% include "blocks/bs_field_snippet.html" %}
        {% endwith %}
        {% with form.container_to_change as field %}
        {% include "blocks/bs_field_snippet.html" %}
        {% endwith %}
    </div>
{% endblock %}

