{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
{% with force_large_col=True %}
<div class="form-row">
    {% with form.qa_title as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.qa_reference as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.qa_source_type as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endwith %}

{% if form.qa_finds %}
<div class="form-row">
    {% with form.qa_finds as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_context_records %}
<div class="form-row">
    {% with form.qa_context_records as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_operations %}
<div class="form-row">
    {% with form.qa_operations as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_sites %}
<div class="form-row">
    {% with form.qa_sites as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_files %}
<div class="form-row">
    {% with form.qa_files as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_warehouses %}
<div class="form-row">
    {% with form.qa_warehouses as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_containers %}
<div class="form-row">
    {% with form.qa_containers as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_treatments %}
<div class="form-row">
    {% with form.qa_treatments as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{% if form.qa_files %}
<div class="form-row">
    {% with form.qa_treatment_files as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endif %}

{{form.open_edit}} <label for="id_open_edit">{{form.open_edit.label}}</label>

{% endblock %}
