{% load i18n l10n inline_formset table_form %}

<div class="modal-dialog {% if modal_size == 'large' %}modal-lg {% elif modal_size == 'small'%}modal-sm {% endif%}modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{page_name|safe}}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body body-scroll">
            {{message}}
        </div>
    </div>
</div>
<script type="text/javascript">{% localize off %}
    {% block js %}
    {% endblock %}
    $(document).ready(function(){
        qa_action_register("{{url}}");
    });
{% endlocalize %}</script>
