{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if new_item_pk %}
<p>{% if new_item_label %}{{new_item_label}}{% else %}{% trans "Item" %}{% endif %}
    {% if modify %}{% trans "modified." %}{% else %}{% trans "created." %}{% endif %}</p>
{% else %}
    {% bs_compact_form form %}
{% endif %}
{% endblock %}

{% block footer %}
{% if new_item_pk %}
<button type="button" data-dismiss="modal"
        aria-label="Close" class="btn btn-secondary">
    {% trans "Close" %}
</button>
{% else %}
    {{ block.super }}
{% endif %}
{% endblock %}

{% block js_ready %}
{% if new_item_pk %}
save_and_close_window{% if many %}_many{% endif %}_data(null, "{{parent_name}}", "{{parent_pk}}", "{{new_item_label|safe}}", "{{new_item_pk}}");
{% endif %}
{% endblock %}