{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
{% if operation %}
<div class="alert alert-info">
    {% trans "The new find will have a new base find created. Instead of this action use a division treatment if the new find is from the same base find (share the same field data)." %}
</div>
<div class="form-row">
    <div class="form-group col-lg-12 required full-width">
        <label>{% trans "Operation" %}{% trans ":" %}</label>
        {{operation}}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-12 required full-width">
        <label>{% trans "Context record" %}{% trans ":" %}</label>
        {{context_record }}
    </div>
</div>
{% endif %}
{% with force_large_col=True %}
<div class="form-row">
    {% with form.label as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.denomination as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% endwith %}
{% comment %}
<p>
    <label for="id_modify">{% trans "Edit the duplicated find" %}{% trans ":" %}</label>
    <input type="checkbox" name="modify" id="id_modify">
</p>
{% endcomment %}
{% endblock %}

