{% extends "ishtar/forms/qa_base.html" %}
{% load i18n inline_formset table_form %}

{% block main_form %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
<div class="form-row">
    <div class="form-group col-lg-12 required full-width">
        <label>{% trans "Operation" %}{% trans ":" %}</label>
        {{operation}}
    </div>
</div>
{% with force_large_col=True %}
<div class="form-row">
    {% with form.qa_label as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
<div class="form-row">
    {% with form.qa_parcel as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>
{% if form.qa_town %}<div class="form-row">
    {% with form.qa_town as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>{% endif %}
{% if form.qa_parcel %}<div class="form-row">
    {% with form.qa_unit as field %}
    {% include "blocks/bs_field_snippet.html" %}
    {% endwith %}
</div>{% endif %}
{% endwith %}
{% endblock %}

