{% extends "base.html" %}Q
{% load i18n %}
{% block extra_head %}
{{search_form.media}}
{{ template_form.media }}
{% endblock %}

{% block content %}
{% if template_form.non_field_errors or template_error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{template_form.non_field_errors}}
    {% if template_error %}{{template_error}}{% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}
<h2>{% trans "Document generation" %}</h2>
<form action="." class='wizard-form' id="wizard-form" method="post" name='wizard'>{% csrf_token %}
<div class='form search'>
{{ search_form.as_p }}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    <div class="confirm-message row justify-content-center">
        <div class="col-2">
            <label>{{template_form.document_template.label}}</label>
        </div>
        <div class="col-4">
            {{template_form.document_template}}
        </div>
        <div class="col-2">
            <button type="submit" id="submit_form" name='validate' class="btn btn-success">
                {% trans "Generate" %}
            </button>
        </div>
    </div>
    {% include 'ishtar/blocks/footer.html' %}
</div>
</form>
{% endblock %}

