<div class="input-group">
    {% if oa_prefix %}<div class="input-group-prepend">
        <div class="input-group-text">{{oa_prefix}}</div>
    </div>{% endif %}
    <input class="form-control widget-oa" type="text"{{final_attrs|safe}}>
</div>