{% extends "ishtar/wizard/default_wizard.html" %}
{% load i18n %}
{% block form_head %}
<div class="alert alert-info">
  <i class="fa fa-exclamation-triangle"></i>
  &nbsp;{% trans "Default division for this warehouse. These divisions are only used to facilitate imports." %}<br/>
</div>
{% endblock %}
