{% extends "ishtar/wizard/delete_wizard.html" %}
{% load i18n %}
{% block "detailed_related_info" %}

{% if current_object.children.count %}
<div class="card">
  <div class="card-header">
    {% trans "Associated containers" %}
  </div>
  <div class="card-body">
    <div class="alert alert-danger">
      <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {% trans "These containers are inside this item. If you delete this item, they won't have any parent container. You probably want to fix that." %}
      </div>
    </div>
    <ul class='list'>
    {% for container in current_object.children.all %}
      <li>{{container}} <a class='display_details_inline' href="#"
                        onclick='load_window("{% url "show-container" container.pk "" %}")'><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>{% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% if current_object.finds.count or current_object.finds_ref.count %}
<div class="card">
  <div class="card-header">
    {% trans "Associated finds" %}
  </div>
  <div class="card-body">
    {% if current_object.finds.count %}
    <div class="alert alert-danger">
      <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {% trans "These finds are inside this item. If you delete this item, they won't be inside any container. You probably want to fix that." %}
      </div>
    </div>
    <ul class='list'>
      {% for find in current_object.finds.all %}
      <li>{{find}} <a class='display_details_inline' href="#"
                           onclick='load_window("{% url "show-find" find.pk "" %}")'><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>{% endfor %}
    </ul>
    {% endif %}
    {% if current_object.finds_ref.count %}
    <div class="alert alert-danger">
      <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {% trans "This item is the reference container for these finds. If you delete this item, they won't have any reference container. You probably want to fix that." %}
      </div>
    </div>
    <ul class='list'>
      {% for find in current_object.finds_ref.all %}
      <li>{{find}} <a class='display_details_inline' href="#"
                      onclick='load_window("{% url "show-find" find.pk "" %}")'><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>{% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
