{% extends "admin/gen_change_list.html" %}
{% load i18n admin_urls static admin_list %}

          {% block object-tools-items %}
            {{ block.super }}
            {% if has_add_permission %}
            <li>
              <a href="copy-price-agreement/" class="addlink">
                {% trans "Copy price agreement" %}
              </a>
            </li>
            {% endif %}
          {% endblock %}

