{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <h3 class="text-center">{%trans "Log in"%}</h3>
        <form method="post" action=".">{% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% if form.non_field_errors %}
          <div class="form-group row">
              {% for error in form.non_field_errors %}
              <div class="form-group has-errors text-danger small">
                  {{error}}
              </div>
              {% endfor %}
          </div>
          {% endif %}
          {% with force_large_col=True %}
          {% for field in form %}
            {% include "blocks/bs_field_snippet.html" %}
          {% endfor %}
          {% endwith %}

          <div class="row justify-content-center">
            <div class="col-4">
               <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
<hr/>
<div class="row justify-content-center">
    <div class="col-md-6">
        <small class="text-secondary">{% trans "Forgot password?" %} <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>
        {% if registration_open %}&ndash;
        {% trans "Not member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
        {% endif %}</small>
    </div>
</div>
{% endblock %}
