{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='form'>
<form method="post" action=".">{% csrf_token %}
  <caption>{% trans "Reset password" %}</caption>
  <table>
  {{ form.as_table }}

  <tr><td colspan='2'><input type="submit" value="{% trans 'Submit' %}" /></td></tr>
  </table>
</form>
</div>
{% endblock %}
