{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <h3 class="text-center">{{page_title}}</h3>
      {% if validlink %}
      <form method="post" action=".">{% csrf_token %}
        {% if form.non_field_errors %}
        <div class="form-group row">
          {% for error in form.non_field_errors %}
          <div class="form-group has-errors text-danger small">
            {{error}}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% with force_large_col=True %}
        {% for field in form %}
        {% include "blocks/bs_field_snippet.html" %}
        {% endfor %}
        {% endwith %}

        <div class="row justify-content-center">
          <div class="col-4">
            <button type="submit" class="btn btn-primary">{% trans 'Validate' %}</button>
          </div>
        </div>
      </form>
      {% else %}
      <div class='info'>
        <p>{% trans "Password reset failed" %}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>



{% endblock %}
