{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <p>{% trans "Registration are closed." %}</p>
    </div>
  </div>
</div>
{% endblock %}
