{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <h3 class="text-center">{% trans "Register" %}</h3>
      <form method="post" action=".">{% csrf_token %}
  {{ form.as_table }}
  <tr><td colspan='2'><input type="submit" value="{% trans 'Submit' %}" /></td></tr>
  </table>
</form>
</div>
{% endblock %}
