{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

          {% block object-tools-items %}
            {% if has_add_permission %}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
            <li>
              <a href="import-from-json/" class="addlink">
                {% trans "Import from JSON" %}
              </a>
            </li>
            <li>
              <a href="import-from-csv/" class="addlink">
                {% trans "Import from CSV" %}
              </a>
            </li>
            <li>
              <a href="create-department/" class="addlink">
                {% trans "Create or update department area" %}
              </a>
            </li>
            {% endif %}
          {% endblock %}

