{% extends "admin/base_site.html" %}{% load i18n %}

{% block content %}

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ change_parent_form }}
        </table>
        <input type="hidden" name="action" value="{{ current_action }}"/>
        {% for selected in selected_items %}
            <input type="hidden" name="_selected_action" value="{{ selected }}"/>
        {% endfor %}
        <input type="submit" name="apply" value="{% trans 'Change parent' %}"/>
    </form>

{% endblock %}
