{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
<style>
.object-tools a.disabled:link, .object-tools a.disabled:visited,
.object-tools a.disabled:focus, .object-tools a.disabled:hover {
    background: #ccc;
    color: #eee;
    pointer-events: none;
}
</style>
{% endblock %}

    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    <li>{% if previous_item %}
        <a href="{% url opts|admin_urlname:'change' previous_item %}{{get_attr}}">
            {% trans "Previous" %}
        </a>{% else %}
        <a href="#" class="disabled">
            {% trans "Previous" %}
        </a>
    {% endif %}</li>
    <li>{% if next_item %}
        <a href="{% url opts|admin_urlname:'change' next_item %}{{get_attr}}">
            {% trans "Next" %}
        </a>{% else %}
        <a href="#" class="disabled">
            {% trans "Next" %}
        </a>
    {% endif %}
    </li>
    {% endblock %}
