{% extends "admin/base_site.html" %}{% load i18n %}

{% block content %}

<form action="." method="post" enctype="multipart/form-data">
    {{form.non_fields_error}}
{% csrf_token %}
    <ul class="errorlist">
        {% for error in form.non_field_errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ul>

    <p>
        {{ form.department_number.errors }}<br>
        {{ form.department_number.label_tag }}
        {{ form.department_number }}
    </p>
    <p>
        <em>{% trans "Create a new area"%}</em><br>
        {{ form.area_name.errors }}<br>
        {{ form.area_name.label_tag }}
        {{ form.area_name }}
    </p>
    <p>
        <em>{% trans "or update an existing area"%}</em><br>
        {{ form.area.errors }}<br>
        {{ form.area.label_tag }}
        {{ form.area }}
    </p>
<input type="hidden" name="action" value="{{current_action}}" />
<input type="submit" name="apply" value="Validate" />
</form>

{% endblock %}
