{% load i18n %}<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/media/images/favicon.png">
    <link rel="stylesheet"
          href="/static/bootstrap/bootstrap.css?ver={{VERSION}}">
    <link rel="stylesheet" href="/static/media/styles.css?ver={{VERSION}}">
    <title>
        {% block title %}Ishtar{% if APP_NAME %} - {{APP_NAME}}{%endif%}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/media/style.css?ver={{VERSION}}" />
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/static/media/images/ishtar-blason.svg"
                 width="30" height="30" alt="">
        </a>
    </header>
    <div class="container">
        {% block content %}
        {% block error %}
        <h3>{% trans "An error has occured. The support team has been warned." %}</h3>
        {% endblock %}
        {% endblock %}
        <p><a href='/'>{% trans "Back to main page" %}</a></p>
    </div>
    <div id="footer">
        {% include 'ishtar/blocks/footer.html' %}
    </div>
</body>

</html>

