<ul class="navbar-nav action-menu justify-content-start">
    {% with MENU.current_section as section_label %}
    {% with MENU.current_sections as sections %}
    {% include "blocks/action_list.html" %}
    {% endwith %}{% endwith %}

    {% if MENU.current_subsections %}
    <li class="nav-item d-none d-lg-block">
        <span class="nav-link">›</span>
    </li>
    {% with MENU.current_subsection as section_label %}
    {% with MENU.current_subsections as sections %}
    {% include "blocks/action_list.html" %}
    {% endwith %}{% endwith %}
    {% endif %}

    {% if MENU.current_subsubsections %}
    <li class="nav-item d-none d-lg-block">
        <span class="nav-link">›</span>
    </li>
    {% with MENU.current_subsubsection as section_label %}
    {% with MENU.current_subsubsections as sections %}
    {% include "blocks/action_list.html" %}
    {% endwith %}{% endwith %}
    {% endif %}
</ul>
