{% load i18n %}

<h2>{% trans "Welcome in Ishtar, open source software for management and inventory of archaeological data" %}</h2>
<div class="row">
    {{random_image}}
    <div class="col col-lg-9">
        <div class="card">
            <div class="card-body">
                <p>{% trans "Some useful links:" %}</p>
                <ul>
                    <li><a href='https://ishtar-archeo.net' target="_blank">{% trans "Presentation site and blog" %}</a>{% trans ":"%} {% trans "stay tuned with Ishtar news!" %}</li>
                    <li><a href="{% url 'admin:index' %}" target="_blank">{% trans "Admin interface" %}</a>{% trans ":"%} {% trans "for admin only." %}</li>
                    <li><a href="https://forum.ishtar-archeo.net/" target="_blank">{% trans "Forum" %}</a>{% trans ":"%} {% trans "need help? find a new bug? a fantastic feature to propose? Here is the place to go." %}</li>
                    <li><a href="https://gitlab.com/iggdrasil/ishtar" target="_blank">{% trans "Source code" %}</a> &ndash; <a href="https://tickets.iggdrasil.net/projects/ishtar" target="_blank">{% trans "tickets" %}</a>{% trans ":"%} {% trans "where the magic happens." %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
