{% load i18n l10n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="shortcut icon" href="{{STATIC_URL}}/media/images/favicon.png">
    <title>{% block title %}Ishtar{% if APP_NAME %} - {{APP_NAME}}{%endif%}{% endblock %}
    </title>
    <script language="javascript" type="text/javascript">
        var url_path = "{{URL_PATH}}";
    </script>
    <script language="javascript" type="text/javascript" src="{{JQUERY_URL}}?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{JQUERY_UI_URL}}jquery-ui.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}bootstrap/bootstrap.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/chosen/chosen.jquery.min.js?ver={{VERSION}}"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/ishtar.js?ver={{VERSION}}"></script>
    {{form.media}}
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/bootstrap.css?ver={{VERSION}}">
    <link type="text/css" href="{{STATIC_URL}}js/chosen/chosen.min.css?ver={{VERSION}}" rel="stylesheet" />
    <link rel="stylesheet" href="{{STATIC_URL}}media/styles.css?ver={{VERSION}}" />
    {% block extra_head %}
    {% endblock %}
</head>
<body class="window-pop">
<div class="modal-content">
    <div class="modal-header">
        <h2>{{title}}</h2>
    </div>

    <form action="." method="post" class='form'>{% csrf_token %}
        <div class="modal-body body-scroll">
            <div class="form">
                {% include "blocks/bs_form_snippet.html" %}
            </div>
        </div>

        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" id="submit_new_item"
                   value="{% trans 'Add' %}"/>
            <button type="button" id="cancel-btn" class="btn btn-secondary">
                {% trans 'Cancel' %}</button>
        </div>


  </form>
</div>
<script type="text/javascript">{% localize off %}
{% if new_item_label %}
save_and_close_window{% if many %}_many{% endif %}("{{parent_name}}", "{{parent_pk}}", "{{new_item_label|safe}}", "{{new_item_pk}}");
{% endif %}
$("#cancel-btn").click(function(){
    close();
});
{% endlocalize %}</script>

</body>
</html>
