{% extends "ishtar/sheet.html" %}
{% load i18n ishtar_helpers window_field window_header window_tables window_field %}

{% block head_title %}<strong>{% trans "Context Record" %}</strong> - {{item.full_label}}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-contextrecord' 'record_modify' 'show-historized-contextrecord' 'revert-contextrecord' previous next 1 %}
{% endblock %}

{% block content %}

{# trick to set to null non existing variable #}
{% with permission_view_document=permission_view_document %}
{% with permission_view_own_document=permission_view_own_document %}
{% with permission_view_find=permission_view_find %}
{% with permission_view_own_find=permission_view_own_find %}
{% with permission_change_own_geovectordata=permission_change_own_geovectordata %}
{% with permission_change_geovectordata=permission_change_geovectordata %}

{% with permission_change_geo=permission_change_own_geovectordata|or_:permission_change_geovectordata %}

{% with can_view_documents=permission_view_own_document|or_:permission_view_document %}
{% with has_documents=item|safe_or:"documents.count" %}
{% with display_documents=can_view_documents|and_:has_documents %}
{% with display_relations=item|safe_or:"right_relations.count|left_relations.count" %}
{% with has_image=item|safe_or:"images.count" %}
{% with display_interpretation=item.activity|or_:item.identification|or_:item.interpretation|or_:item.filling %}
{% with display_datations=item.taq|or_:item.taq_estimated|or_:item.tpq|or_:item.tpq_estimated %}
{% with can_view_finds=permission_view_own_find|or_:permission_view_find %}
{% with has_finds=item|safe_or:"base_finds.count" %}
{% with display_finds=has_finds|and_:can_view_finds %}
{% with display_data=item.data %}

{% if output != "ODT" and output != "PDF"%}
<ul class="nav nav-tabs" id="{{window_id}}-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="{{window_id}}-identification-tab"
           data-toggle="tab" href="#{{window_id}}-identification" role="tab"
           aria-controls="{{window_id}}-identification" aria-selected="false">
            {% trans "Identification / Description" %}
        </a>
    </li>
    {% if display_interpretation %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-intrepretation-tab"
           data-toggle="tab" href="#{{window_id}}-interpretation" role="tab"
           aria-controls="{{window_id}}-interpretation" aria-selected="false">
            {% trans "Interpretation" %}
        </a>
    </li>
    {% endif %}
    {% if display_datations %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-datations-tab"
           data-toggle="tab" href="#{{window_id}}-datations" role="tab"
           aria-controls="{{window_id}}-datations" aria-selected="false">
            {% trans "Datations" %}
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-operation-tab"
           data-toggle="tab" href="#{{window_id}}-operation" role="tab"
           aria-controls="{{window_id}}-operation" aria-selected="false">
            {% trans "Operation / Archaeological site" %}
        </a>
    </li>
    {% if display_finds %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-finds-tab"
           data-toggle="tab" href="#{{window_id}}-finds" role="tab"
           aria-controls="{{window_id}}-finds" aria-selected="false">
            {% trans "Finds" %}
        </a>
    </li>
    {% endif %}
    {% if display_relations %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-relations-tab"
           data-toggle="tab" href="#{{window_id}}-relations" role="tab"
           aria-controls="{{window_id}}-relations" aria-selected="false">
            {% trans "Relations" %}
        </a>
    </li>
    {% endif %}
    {% if display_documents %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-documents-tab"
           data-toggle="tab" href="#{{window_id}}-documents" role="tab"
           aria-controls="{{window_id}}-treatments" aria-selected="false">
            {% trans "Documents" %}
        </a>
    </li>
    {% endif %}
    {% if not is_external and SHOW_GEO %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-geodata-tab"
           data-toggle="tab" href="#{{window_id}}-geodata" role="tab"
           aria-controls="{{window_id}}-geodata" aria-selected="false">
            {% trans "Geographic data" %}
        </a>
    </li>
    {% endif %}
    {% if display_data %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-data-tab"
           data-toggle="tab" href="#{{window_id}}-data" role="tab"
           aria-controls="{{window_id}}-data" aria-selected="false">
            {% trans "Custom fields" %}
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}

<div class="tab-content" id="{{window_id}}-tab-content">

  <div class="tab-pane fade show active" id="{{window_id}}-identification"
       role="tabpanel" aria-labelledby="{{window_id}}-identification-tab">
        <div class="clearfix">
            <div class="card float-left col-12 col-md-6 col-lg-4">
                {% include "ishtar/blocks/window_image.html" %}
                <div class="card-body">
                    {% if item.complete_identifier %}<p class="window-refs"
                            title="{% trans 'Complete identifier' %}">
                    <strong>{{ item.complete_identifier }}</strong></p>{% endif %}
                    <p class='window-refs' title="{% trans 'Parcel' %}">{{ item.parcel.short_label }}</p>
                    <p class="window-refs">{{ item.label|default:"" }}</p>
                    {% include "ishtar/blocks/sheet_external_id.html" %}
                </div>
            </div>
            <div class='row'>
                {% field_flex_2 "Complete ID" item.full_label %}
                {% field_flex_2 "Type" item.unit %}
            </div>
        </div>
        <hr class="clearfix">
        <h3>{% trans "Description"%}</h3>
        <div class="row">
            {% field_flex_multiple_obj "Excavation techniques" item 'excavation_technics' has_image %}
            {% field_flex_multiple_obj "Periods" item 'datings' has_image %}
            {% field_flex_multiple_obj "Documentation" item 'documentations' has_image %}
            {% field_flex "Opening date" item.opening_date '' '' has_image %}
            {% field_flex "Closing date" item.closing_date '' '' has_image %}
            {% field_flex_full "Comment on datings" item.datings_comment "<pre>" "</pre>" has_image %}
            {% field_flex_full "Description" item.description "<pre>" "</pre>" has_image %}
            {% field_flex_full "Comment" item.comment "<pre>" "</pre>" has_image %}
            {% if item.surface  %}
            <dl class="col-12 col-md-6 col-lg-3 flex-wrap">
                <dt>{%trans "Surface"%}</dt>
                <dd>
                    {{ item.surface }} m<sup>2</sup> ({{ item.surface_ha }} ha)
                </dd>
            </dl>
            {% endif %}
            {% field_flex "Length (m)" item.length '' '' has_image %}
            {% field_flex "Width (m)" item.width '' '' has_image %}
            {% field_flex "Diameter (m)" item.diameter '' '' has_image %}
            {% field_flex "Depth (m)" item.depth '' '' has_image %}
            {% field_flex "Thickness (m)" item.thickness '' '' has_image %}
            {% field_flex "Depth of appearance (m)" item.depth_of_appearance '' '' has_image %}
        </div>

        {% if item.main_geodata %}
        <h3>{% trans "Geographic localisation" %}</h3>
        <div class='row'>
            {% with geo_item=item %}
            {% include "ishtar/blocks/sheet_map.html"%}
            {% endwith %}
        </div>
        <div class='row'>
            {% field_flex_detail "Town" item.town has_image %}
        </div>
        {% endif %}

        <h3>{% trans "Sheet" %}</h3>
        <div class="row">
            {% include "ishtar/blocks/sheet_creation_section.html" %}
        </div>
    </div>
    {% if display_interpretation %}
    <div class="tab-pane fade" id="{{window_id}}-interpretation"
       role="tabpanel" aria-labelledby="{{window_id}}-interpretation-tab">
        <h3>{% trans "Interpretation"%}</h3>
        <div class='row'>
            {% field_flex_multiple "Documentation" item.documentations %}
            {% field_flex "Activity" item.activity %}
            {% field_flex "Identification" item.identification %}
            {% field_flex_full "Filling" item.filling "<pre>" "</pre>" %}
            {% field_flex_full "Interpretation" item.interpretation "<pre>" "</pre>" %}
        </div>
    </div>
    {% endif %}

    {% if display_datations %}
    <div class="tab-pane fade" id="{{window_id}}-datations"
       role="tabpanel" aria-labelledby="{{window_id}}-datations-tab">
        <h3>{% trans "Datations"%}</h3>
        <div class='row'>
            {% field_flex "TAQ" item.taq %}
            {% field_flex "Estimated TAQ" item.taq_estimated %}
            {% field_flex "TPQ" item.tpq %}
            {% field_flex "Estimated TPQ" item.tpq_estimated %}
        </div>
    </div>
    {% endif %}

    <div class="tab-pane fade" id="{{window_id}}-operation"
       role="tabpanel" aria-labelledby="{{window_id}}-operation-tab">

        {% if item.operation %}
        <h3>{% trans "Operation summary"%}</h3>
        {% if not item.operation.code_patriarche %}
        <div class="alert alert-warning" role="alert">
            {%trans "Patriarche OA code not yet recorded!"%}
        </div>
        {% endif %}
        <div class='row'>
                {% field_flex_detail_full "Operation" item.operation %}
            {% field_flex "Year" item.operation.year %}
            {% trans "Numerical reference" as num_ref_label %}
            {% field_flex num_ref_label item.operation.operation_code %}
            {% field_flex "Patriarche OA code" item.operation.code_patriarche %}
            {% field_flex_detail "Head scientist" item.operation.scientist %}

            <dl class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
                <dt class="col-5">{% trans "State" %}</dt>
                <dd class="col-7">{% if item.operation.is_active %}{% trans "Active file" %}{% else %}{%trans "Closed operation" %}{% endif %}</dd>
            </dl>

            {% if not item.operation.is_active %}
            <dl class="col-12 col-md-6 col-lg-4 d-flex flex-wrap row">
                <dt class="col-5">{%trans "Closing date"%}</dt>
                <dd class="col-7">
                    {{ item.operation.closing.date }} <strong>{%trans "by" %}</strong> {{ item.operation.closing.user }}
                </dd>
            </dl>
            {% endif %}
            {% field_flex "Type" item.operation.operation_type %}
            {% field_flex_multiple "Remains" item.operation.remains %}
            {% field_flex_multiple "Periods" item.operation.periods %}
            {% field_flex_full "Comment" item.operation.comment "<pre>" "</pre>" %}
        </div>

        {% else %}
        <div class="alert alert-warning" role="alert">
            {% trans "No operation linked to this context record!" %}
        </div>
        {% endif %}

        {% if item.archaeological_site %}
        <h3>{% trans SITE_LABEL %}</h3>
        <div class='row'>
            {% field_flex_detail SITE_LABEL item.archaeological_site %}
            {% field_flex_full "Towns" item.archaeological_site.towns_codes|join:" ; "  %}
        </div>
        {% endif %}
    </div>

    {% if display_finds %}
    <div class="tab-pane fade" id="{{window_id}}-finds"
       role="tabpanel" aria-labelledby="{{window_id}}-finds-tab">

        {% trans "Finds" as finds %}
        {% if item.all_base_finds.count %}
        {% dynamic_table_document finds 'finds_for_cr' 'all_base_finds__context_record' item.pk 'TABLE_COLS_FOR_CR' output %}
        {% else %}
        <div class="alert alert-info">
            {% trans "No associated finds." %}
        </div>
        {% endif %}

        {% trans "Documents from associated finds" as finds_docs %}
        {% if permission_view_own_document or permission_view_document %}
        {% if item.find_docs_q.count %}
        {% dynamic_table_document finds_docs 'documents' 'finds__base_finds__context_record' item.pk '' output %}
        {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {% if display_relations %}
    <div class="tab-pane fade" id="{{window_id}}-relations"
       role="tabpanel" aria-labelledby="{{window_id}}-relations-tab">

        {% trans "Context record relations" as cr_rels %}
        {% dynamic_table_document cr_rels 'context_records_relations' 'left_record_id' item.pk '' output %}

        {% if item.relation_image or DOT_GENERATION %}
        {% with gen_url='generate-relation-image-contextrecord' %}

        <h3>{% trans "Diagram of stratigraphic relations - above" %}</h3>
        {% with relation_type="above" %}
        {% with relation_image=item.relation_image_above %}
        {% with relation_png=item.relation_bitmap_image_above %}
        {% with relation_dot=item.relation_dot_above %}
        {% include "ishtar/blocks/sheet_relation_image.html" %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}

        <h3>{% trans "Diagram of stratigraphic relations - below" %}</h3>
        {% with relation_type="below" %}
        {% with relation_image=item.relation_image_below %}
        {% with relation_png=item.relation_bitmap_image_below %}
        {% with relation_dot=item.relation_dot_below %}
        {% include "ishtar/blocks/sheet_relation_image.html" %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}

        <h3>{% trans "Diagram of stratigraphic relations - full" %}</h3>
        {% with relation_type="" %}
        {% with relation_image=item.relation_image %}
        {% with relation_png=item.relation_bitmap_image %}
        {% with relation_dot=item.relation_dot %}
        {% include "ishtar/blocks/sheet_relation_image.html" %}
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}

        {% endwith %}
        {% endif %}
    </div>
    {% endif %}

    {% if display_documents %}
    <div class="tab-pane fade" id="{{window_id}}-documents"
       role="tabpanel" aria-labelledby="{{window_id}}-documents-tab">
        {% trans "Document from this context record" as cr_docs %}
        {% if permission_view_own_document or permission_view_document %}
        {% if item.documents.count %}
        {% dynamic_table_document cr_docs 'documents' 'context_records' item.pk '' output %}
        {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {% if not is_external and SHOW_GEO %}
    <div class="tab-pane fade" id="{{window_id}}-geodata"
         role="tabpanel" aria-labelledby="{{window_id}}-geodata-tab">
        {% with geo_item=item %}{% include "ishtar/blocks/sheet_geographic.html" %}{% endwith %}
    </div>
    {% endif %}

    {% if display_data %}
    <div class="tab-pane fade" id="{{window_id}}-data"
       role="tabpanel" aria-labelledby="{{window_id}}-data-tab">
        {% include "ishtar/blocks/sheet_json.html" %}
    </div>
    {% endif %}
</div>

{% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %}

{% endblock %}
