{% extends "ishtar/sheet_contextrecord.html" %}
{% block header %}
{% endblock %}
{% block main_head %}
{{ block.super }}
<div id="pdfheader">
Ishtar &ndash; {{APP_NAME}} &ndash; {{item}}
</div>
{% endblock %}
{%block head_sheet%}{%endblock%}
{%block main_foot%}
</body>
</html>
{%endblock%}
