{% load i18n window_field from_dict link_to_window window_tables window_header humanize %}
<div id="{{window_id}}-base-find-{{forloop.counter}}" role="tabpanel"
     class="tab-pane fade{% if forloop.first %} show active{% endif %}">
    <p class='window-refs text-center'>{{ base_find.complete_id }}</p>
    {% if base_find.complete_id != base_find.short_id %}
        <p class='window-refs text-center'>{{ base_find.short_id }}</p>
    {% endif %}
    {% if base_find.external_id %}
    <p class='window-refs text-center external-id'>
        <small title="{% trans 'Internal ID' %}">
            <i class="fa fa-key" aria-hidden="true"></i>
            {{base_find.external_id|default:''}}
        </small>
    </p>{% endif %}

    <div class='row'>
        {% field_flex_detail "Operation" base_find.context_record.operation first %}
        {% field_flex_detail "Archaeological site" base_find.context_record.archaeological_site first %}
        {% field_flex_detail "Context record" base_find.context_record first %}
        {% field_flex_detail "Town" base_find.context_record.town first %}
        {% field_flex "Parcel" base_find.context_record.parcel '' '' first %}

        {# START discovery dates #}
        {% with base_find.discovery_date|date:"SHORT_DATE_FORMAT" as discovery_date %}
        {% if not base_find.discovery_date_taq %}
        {% trans "Discovery date" as discovery_date_label %}
        {% field_flex discovery_date_label discovery_date '' '' first %}
        {% elif base_find.discovery_date.year == base_find.discovery_date_taq.year and base_find.discovery_date_taq|date:"d-m" == "31-12" and base_find.discovery_date|date:"d-m" == "01-01" %}
        {% trans "Discovery year" as discovery_year_label %}
        {% field_flex discovery_year_label base_find.discovery_date.year '' '' first %}
        {% else %}
        {% trans "Discovery date (exact or beginning)" as discovery_tpq_label %}
        {% field_flex discovery_tpq_label discovery_date '' '' first %}
        {% trans "Discovery date (end)" as discovery_taq_label %}
        {% with base_find.discovery_date_taq|date:"SHORT_DATE_FORMAT" as discovery_date_taq %}
        {% field_flex discovery_taq_label discovery_date_taq '' '' first %}
        {% endwith %}
        {% endif %}
        {% endwith %}
        {# END discovery dates #}

        {% field_flex "Excavation ID" base_find.excavation_id '' '' first %}
        {% field_flex "Batch/object" base_find.batch '' '' first %}
        {% if base_find.history_object and base_find.history_object.IS_ISOLATED_DICT %}
        {% field_flex "Batch/object" base_find.batch|from_dict:base_find.history_object.IS_ISOLATED_DICT '' '' first %}
        {% endif %}

        {% field_flex "Special interest" base_find.special_interest '' '' first %}
        {% field_flex_full "Description" base_find.description "<pre>" "</pre>" first %}
        {% field_flex_full "Comment" base_find.comment "<pre>" "</pre>" first %}
    </div>
    {% with item=base_find %}
    {% include "ishtar/blocks/sheet_json.html" %}
    {% endwith %}

    <div class="clearfix">
    </div>
    {% if not is_external and SHOW_GEO %}
    <h3>{% trans "Geographic localisation" %}</h3>
    <div class='row'>
        {% with geo_item=base_find %}
        {% include "ishtar/blocks/sheet_map.html"%}
        {% endwith %}
    </div>
    {% endif %}
    <div class="row">
        {% field_flex_full "Point of topographic reference" base_find.topographic_localisation %}
    </div>
    {% if not is_external %}
    <h3>{% trans "Sheet"%}</h3>
    <div class='row'>
        {% include "ishtar/blocks/sheet_creation_section.html" %}
    </div>
    {% endif %}
</div>

