{% extends "ishtar/sheet.html" %}
{% load i18n window_field from_dict link_to_window window_tables window_ope_tables window_header humanize %}

{% block head_title %}<strong>{% trans "Treatment" %}</strong> - {{ item|default:"" }}{% endblock %}

{% block toolbar %}
{% window_nav item window_id 'show-treatment' 'treatment_modify' 'show-historized-treatment' 'revert-treatment' previous next 1 %}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs" id="{{window_id}}-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="{{window_id}}-treatment-tab"
           data-toggle="tab" href="#{{window_id}}-treatment" role="tab"
           aria-controls="{{window_id}}-treatment" aria-selected="true">
            {% trans "Treatment" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-find-tab"
           data-toggle="tab" href="#{{window_id}}-find" role="tab"
           aria-controls="{{window_id}}-find" aria-selected="true">
            {% trans "Finds" %}
        </a>
    </li>
    {% if item.documents.count %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-documents-tab"
           data-toggle="tab" href="#{{window_id}}-documents" role="tab"
           aria-controls="{{window_id}}-documents" aria-selected="true">
            {% trans "Documents" %}
        </a>
    </li>
    {% endif %}
    {% if item.administrative_act.count %}
    <li class="nav-item">
        <a class="nav-link" id="{{window_id}}-admin-tab"
           data-toggle="tab" href="#{{window_id}}-admin" role="tab"
           aria-controls="{{window_id}}-admin" aria-selected="true">
            {% trans "Administrative acts" %}
        </a>
    </li>
    {% endif %}
</ul>

{% with has_image=item.images_number %}
<div class="tab-content" id="{{window_id}}-tab-content">
    <div class="tab-pane fade show active" id="{{window_id}}-treatment"
         role="tabpanel" aria-labelledby="{{window_id}}-treatment-tab">
        {% if has_image %}
        <div class="clearfix">
            <div class="card float-left col-12 col-md-6 col-lg-4">
                {% include "ishtar/blocks/window_image.html" %}
        {% else %}
        <div class="row">
            <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12">
                <div class="card">
        {% endif %}
                    <div class="card-body">
                        <div class="card-text">

                            <p class="window-refs">{{ item.label|default:"" }}</p>
                            {% if item.other_reference %}
                            <p class="window-refs">{{ item.other_reference }}</p>{% endif %}
                            <p class="window-refs">{{ item.year }} - {{ item.index }}</p>
                            {% if item.external_id %}
                            <p class="window-refs">{{ item.external_id }}</p>{% endif %}
                            {% if item.end_date %}
                            <p class="window-refs">{% trans "Closed" context "Treatment" %} ({{item.end_date}})</p>
                            {% else %}
                            <p class="window-refs">{% trans "Active" context "Treatment" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% if not has_image %}</div></div>{% endif %}

        <div class="row">
            {% field_flex_multiple_obj "Treatment type" item 'treatment_types' %}
            {% field_flex "State" item.treatment_state %}
            {% field_flex_detail "Associated request" item.file %}
            {% field_flex_detail "Location" item.location %}
            {% field_flex_detail "Container" item.container %}
            {% field_flex_detail "Scientific monitoring manager" item.scientific_monitoring_manager %}
            {% field_flex_detail "Responsible" item.person %}
            {% field_flex_detail "Organization" item.organization %}
            {% field_flex "Start date" item.start_date|date:"DATE_FORMAT" %}
            {% field_flex "Closing date" item.end_date|date:"DATE_FORMAT" %}
            {% field_flex "Estimated cost" item.estimated_cost|intcomma '' " "|add:CURRENCY %}
            {% field_flex "Quoted cost" item.quoted_cost|intcomma '' " "|add:CURRENCY %}
            {% field_flex "Realized cost" item.realized_cost|intcomma '' " "|add:CURRENCY %}
            {% field_flex "Insurance cost" item.insurance_cost|intcomma '' " "|add:CURRENCY %}
            {% field_flex_full "Comment" item.comment "<pre>" "</pre>" %}
            {% field_flex_full "Description" item.description "<pre>" "</pre>" %}
            {% field_flex_full "Goal" item.goal "<pre>" "</pre>" %}

            {% include "ishtar/blocks/sheet_json.html" %}
        </div>
        {% if has_image %}</div>{% endif %}
    </div>

    <div class="tab-pane fade" id="{{window_id}}-find"
         role="tabpanel" aria-labelledby="{{window_id}}-find-tab">
        {% trans "Related finds" as finds %}
        {% if item.finds.count %}
        {% dynamic_table_document finds 'finds_for_treatment' 'treatments' item.pk 'TABLE_COLS_FOR_OPE' output %}
        {% endif %}

        {% trans "Upstream finds" as finds %}
        {% if item.upstream.count %}
        {% dynamic_table_document finds 'finds_for_treatment' 'downstream_treatment' item.pk 'TABLE_COLS_FOR_OPE' output %}
        {% endif %}

        {% trans "Downstream finds" as finds %}
        {% if item.downstream.count %}
        {% dynamic_table_document finds 'finds_for_treatment' 'upstream_treatment' item.pk 'TABLE_COLS_FOR_OPE' output %}
        {% endif %}

        {% comment %}
        {% trans "Related operations" as related_operations %}
        {% dynamic_table_document related_operations 'operations' 'related_treatment' item.pk 'TABLE_COLS' output %}
        {% endcomment %}


    </div>

    {% if item.documents.count %}
    <div class="tab-pane fade" id="{{window_id}}-documents"
         role="tabpanel" aria-labelledby="{{window_id}}-documents-tab">
        {% trans "Associated documents" as treat_docs %}
        {% dynamic_table_document treat_docs 'documents' 'treatments' item.pk '' output %}
    </div>
    {% endif %}

    {% if item.administrative_act.count %}
    <div class="tab-pane fade" id="{{window_id}}-admin"
         role="tabpanel" aria-labelledby="{{window_id}}-admin-tab">
        {% trans "Administrative acts" as admact_lbl %}
        {% table_administrativact admact_lbl item.administrative_act.all %}
    </div>
    {% endif %}


</div>
{% endwith %}
{% endblock %}
