{% load i18n link_to_window %}
<h3>{{caption}}</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>{% trans "Ref." %}</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Date" %}</th>
    <th>{% trans "Object" %}</th>
  </tr>
  </thead>
  <tbody>
  {% for act in data %}
  <tr>
    <td>{{act|simple_link_to_window}}</td>
    <td>{{act.full_ref}}</td>
    <td class='string'>{{act.act_type}}</td>
    <td>{{act.signature_date}}</td>
    <td>{{act.act_object}}</td>
  </tr>
  {% empty %}
  <tr><td colspan="4" class='no_items'>{% trans "No administrative act associated" %}</td></tr>
  {% endfor %}
  </tbody>
</table>
