{% load i18n l10n %}
<h3>{{ parcels_label }}</h3>
<table class="table table-striped">
  <thead>
      <tr>
        <th>{% trans "Town" %}</th>
        <th>{% trans "Year" %}</th>
        <th>{% trans "Section" %}</th>
        <th>{% trans "Parcel" %}</th>
        <th>{% trans "Address" %}</th>
        {#<th>{% trans "Owner" %}</th>#}
      </tr>
  </thead>
  <tbody>
  {% for parcel in item.parcels.all %}
  <tr>
    <td class='string'>{{parcel.town}}</td>
    <td>{{parcel.year|default_if_none:"-"|unlocalize}}</td>
    <td>{{parcel.section|default_if_none:"-"}}</td>
    <td>{{parcel.parcel_number|default_if_none:"-"|unlocalize}}</td>
    <td>{{parcel.address|default_if_none:"-"}}</td>
    {#<td class='string'>{{operation.parcel.owner}}</td>#}
  </tr>
  {% empty %}
  <tr><td colspan="4" class='no_items'>{% trans "No parcel" %}</td></tr>
  {% endfor %}
  </tbody>
</table>
