.. -*- coding: utf-8 -*-

.. _annexe-technique-3-variables:

==============================
Annexe technique 3 - Variables
==============================

:Auteurs: Étienne Loks, Ishtar team
:Date: {{current_date}}
:Copyright: CC-BY 3.0
:Ishtar Version: v{{version}}

----------------------------------


Ces variables sont utilisées pour les configurations des imports, les patrons de documents et la configuration des identifiants, des index personnalisés.

Ces variables correspondent aux noms des champs utilisés en base de données (exemple : ``code_patriarche`` pour accéder au code patriarche d'une opération) ainsi que des « facilitateurs » qui permettent de disposer de champs plus évolués (exemple : ``get_next_index`` pour accéder au prochain numéro d'index).

On peut passer d'un élément lié à un autre (par exemple, accéder à l'opération d'une unité d'enregistrement) avec la notation double tiret `__` et ensuite accéder aux variables de l'élément lié (exemple : ``operation__code_patriarche`` permet d'accéder au code patriarche de l'opération ).

Ci-dessous la liste des variables pour chaque type d'éléments.

..warning:: Cette documentation liste tous les champs en base de données (moins quelques champs de gestion interne). Certains sont des champs historiques obsolètes voués à disparaître, d'autres sont des champs mis en place pour des futures fonctionnalités et peuvent encore faire l'objet de modifications. Tout champ listé ci-dessous qui ne correspond pas à un champ accessible depuis l'interface d'Ishtar ne doit normalement pas être utilisé.

.. _valeurs-champs-adresse:


Modèles génériques
------------------

Champs personnalisés
********************

Les éléments principaux (`Operation`, `Unité d'Enregistrement`, `Mobilier`, etc.) permettent d'utiliser des :ref:`champs personnalisés <champ-personnalises>`.
Ceux-ci sont accessibles via l'attribut `data__`. Ainsi on accède à une clé `ma_clef` via `data__ma_clef` ou à une autre clé sous une catégorie `ma_categorie__ma_sousclef` via `data__ma_categorie__ma_sousclef`.

Champs adresse
**************

Les champs adresse sont une liste de variables partagées par plusieurs éléments :
{{ ishtar_common['address']['render'] }}

Personne
********

Chaque personne dispose des :ref:`champs adresse <valeurs-champs-adresse>`, ainsi que des champs suivants :
{{ ishtar_common['person']['render'] }}


Auteur
******
{{ ishtar_common['author']['render'] }}

Organisation
************

Chaque organisation dispose des :ref:`champs adresse <valeurs-champs-adresse>`, ainsi que des champs suivants :
{{ ishtar_common['organization']['render'] }}


Documentation
*************

{{ ishtar_common['document']['render'] }}


Élément géographique
********************

{{ ishtar_common['geovectordata']['render'] }}

Acte administratif
******************

{{ archaeological_operations['administrativeact']['render'] }}

Commune
*******

{{ ishtar_common['town']['render'] }}

Zone géographique
*****************

{{ ishtar_common['area']['render'] }}

Parcelle
********

{{ archaeological_operations['parcel']['render'] }}

Datation
********

{{ archaeological_context_records['dating']['render'] }}

Modèles des éléments principaux
-------------------------------

Opération
*********

Chaque opération dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_operations['operation']['render'] }}

Site/Entité archéologique
*************************

Chaque site/entité archéologique dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_operations['archaeologicalsite']['render'] }}

Dossier archéologique
*********************

Chaque dossier archéologique dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_files['file']['render'] }}

Unité d'enregistrement
**********************

Chaque unité d'enregistrement dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_context_records['contextrecord']['render'] }}

Mobilier d'origine
******************

Chaque mobilier d'origine dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_finds['basefind']['render'] }}

Mobilier
********

Chaque élément mobilier dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_finds['find']['render'] }}

Traitement
**********

Chaque traitement dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_finds['treatment']['render'] }}

Demande de traitement
*********************

Chaque demande de traitement dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_finds['treatmentfile']['render'] }}

Dépot
*****

Chaque dépot dispose des :ref:`champs adresse <valeurs-champs-adresse>`, du champ `data__` ainsi que des champs suivants :

{{ archaeological_warehouse['warehouse']['render'] }}

Contenant
*********

Chaque contenant dispose du champ `data__` ainsi que des champs suivants :

{{ archaeological_warehouse['container']['render'] }}

