{% extends "ishtar/forms/base_form.html" %}
{% load i18n %}

{% block extra_validation_button %}
<div class="col-sm">
  <a href="{% url 'display-item' 'file' file.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">
    {% trans "Back to the file" %}
  </a>
</div>
{% endblock %}
