{% extends "ishtar/wizard/wizard_delete_associated_to_admin_act.html" %}
{% load i18n %}
{% block "detailed_extra_info" %}
{% if current_object.operations.count %}
<h3>{% trans "Associated operations" %}</h3>
<ul class='list'>
{% for item in current_object.operations.all %}
  <li>{{item}} <a class='display_details_inline' href="#"
                    onclick='load_window("{% url "show-operation" item.pk "" %}")'><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>{% endfor %}
</ul>
{% endif %}
{% endblock %}
