{% extends "ishtar/wizard/confirm_wizard.html" %}
{% load i18n %}
{% load range %}
{% block "warning_message" %}
<div class="alert alert-danger">
    <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {% if current_objs and current_objs.1 %}
        {% trans "Are you sure to want to delete these items?" %}
        <ul>{% for obj in current_objs %}
            <li>{{obj.class_verbose_name}} - {{obj}}</li>
        {% endfor %}</ul>
        {% else %}
        {% trans "Are you sure to want to delete this item?" %}{% endif %}
    </div>
    <p>{% trans "No rollback is possible. Be careful to scroll to the end of page to check every piece of information." %}</p>
    {% block "extra_warning" %}{% endblock %}
</div>
{% endblock %}

{% block "cards" %}
{% for form_label, form_data in datas %}

<div class="card">
    {% if form_label %}
    <div class="card-header">
        {{form_label}}
    </div>{% endif %}
    <div class="card-body">
        {% for current_object in current_objs %}{% if forloop.counter == forloop.parentloop.counter %}
        {% block "detailed_extra_info" %}
        {% endblock %}
        {% endif %}{% endfor %}
        <table class='table'>
            {% for data in form_data %}
            <tr{% if data.2 %} class='{{data.2}}'{%endif%}><th>{{data.0}}</th><td>{{data.1}}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>

{% for current_object in current_objs %}{% if forloop.counter == forloop.parentloop.counter %}
{% block "detailed_related_info" %}
{% endblock %}
{% endif %}{% endfor %}

{% endfor %}
{% endblock "cards" %}
