{% extends "base.html" %}
{% load i18n l10n range %}
{% block extra_head %}
{{wizard.form.media}}
{% endblock %}
{% block content %}
<h3>{{wizard_label}}</h3>
{% if default_search_vector or open_url %}
<script type="text/javascript">{% localize off %}
    {% if default_search_vector %}
    var default_search_vector = "{{default_search_vector|safe}}".replace(/''/g, '"');{% endif %}
    $(document).ready(function() {
        {% if default_search_vector %}
        $("#id_search_vector").val(default_search_vector.replace(/''/g, '"'));{% endif %}
        {% if open_url %}load_window("{{open_url}}");{% endif %}
    });
{% endlocalize %}</script>
{% endif %}

{% comment %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href='#'>{{current_step.form_label}}</a>
    </li>
  </ol>
</nav>
{% endcomment %}
<form action="." class='wizard-form' id="wizard-form" method="post" name='wizard'>{% csrf_token %}
{% if wizard.form.forms %}
<div class='form'>
<div class='top_button'><input type="submit" id="submit_form" value="{% trans 'Validate' %}"/></div>
<table class='formset'>
  {%if wizard.form.non_form_errors%}<tr class='error'><th colspan='2'>{{wizard.form.non_form_errors}}</th></tr>{%endif%}
  {{ wizard.form.management_form }}
  {% for formsetform in wizard.form.forms %}
    {{ formsetform.as_table }}
  {% endfor %}
  <tr class='modify'><td colspan="2"><button name="formset_modify" value="{{wizard.steps.current}}">{% trans "Add/Modify" %}</button></td></tr></li>
</table>
{% else %}
<div class='form search'>
  {{ wizard.form.as_p }}
</div>
</div>
{% endif %}
</form>
{% endblock %}
