{% load i18n %}
<div id='validation-bar' class="row text-center">
    <div class="col">
        <button type="submit" id="submit_form" name='validate'
                value="validate" class="btn btn-success wait-button">
            {% trans 'Validate' %}
        </button>
    </div>
    {% if last_step_is_available and next_steps %}
    <div class="col">
        <button type="submit" id="submit_end_form" name='validate_and_end'
            value="validate_and_end" class="btn btn-success wait-button">
            {% trans 'Validate and end' %}
        </button>
    </div>
    {% endif %}
    <div class="col">
        <a href="{% url 'reset_wizards' %}" id="reset_wizards">
            <button type="button" class="btn btn-secondary">
                {% trans "Cancel" %}
            </button>
        </a>
    </div>
</div>
