{% extends "ishtar/wizard/delete_wizard.html" %}
{% load i18n %}
{% block "extra_warning" %}
<p><strong>{% trans "If any, all administrative act listed above will be deleted." %}</strong></p>
{% endblock %}
